<section class="container services-wrapper">


    <div class="services-list-wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12 ">

        <div class="title-contents-top">Community Services</div>
        <div class="contents-cms">
            Starting from our belief in the need of participating in community service, especially for low-income people
            We launched Cooperative Iktissab in terms of the religious and moral responsibility toward our customers, society and our nation. And to meet the inflation of prices and provide the family requirements of goods and food products at the lowest prices. As well as supporting various charitable programs that benefit the community.
            <br>
            For further information, please do not hesitate to call us at Othaim customer service 920000702 .

        </div>
        <div class="claerfix"></div>

    </div>



    <div class="services-list-wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12 ">

        <div class="title-contents">COOPERATIVE IKTISSAB</div>
        <div class="contents-cms">
            Cooperative Iktissab Is the first integrated program which serves special categories of our community, sponsored by Abdullah Al Othaim Markets and Alothaim charity.
            Where the idea of the program depends on providing the goods and food to the final consumer, who is located within the range of target groups in society at a suitable price.

            While marketing, the customer gets direct monetary support on a range of items with a discount between 5% to 30% with a maximum support of 300 SR per customer monthly, in order to serve the largest possible number of participants in the program.
            <br>
            Supported categories are :
            <br>
            While marketing, the customer gets direct monetary support on a range of items with a discount between 5% to 30% with a maximum support of 300 SR per customer monthly, in order to serve the largest possible number of participants in the program.
            <br>
        </div>
        <div class="claerfix"></div>

    </div>


    <div class="services-list-wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12 ">


        <div class="contents-cms">

            <ul>
                <li>Social security members</li>
                <li>Divorced &amp; widows</li>
                <li>Retired</li>
                <li>Orphans</li>
                <li>Charities members</li>
                <li>Charity fund members</li>
                <li>Special needs</li>
                <li>The families of prisoners</li>
                <li>Any category needs a support</li>
            </ul>
        </div>
        <div class="claerfix"></div>

    </div>





    <div class="services-list-wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
        <div class="title-contents">How to activate a social discount</div>
        <div class="contents-cms">First, you have to be a member of Iktissab and have an activated card.
            In order to activate Social discount. Please send the required documents via fax No. 0114937778 Extension No. 2225</div>
        <div class="claerfix"></div>
    </div>

    <div class="services-list-wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
        <div class="title-contents">CHARITIES</div>
        <div class="contents-cms">
            Charities members are welcomed. We will be glad to serve you in iktissab department in Riyadh head office, exit 14 by issuing your charity card.
            Balance inquiries service also available by calling 920000702 or by visiting https://charity.othaimmarkets.com
        </div>
        <div class="claerfix"></div>
    </div>



    <div class="claerfix"></div>
</section>