<section class="container complient-wrapper">
    <div class="row">
        <div class="services-list-wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
            <div class="title-contents">COMPATIBLE WITH SHARIA</div>
        </div>
    </div>
    <div class="row">
        <div class="complient-wshariah-wrapper col-lg-8 col-md-8 col-sm-6 col-xs-12 ">
            <div class="title-contents">CARD DEFINITION :</div>
            <div class="contents-cms">
                It is the beginning for a new marketing stage where Iktissab card gives you the chance to have cash amounts to be added to the balance of your card and deductions in each time you do shopping in Al Othaim markets or in participating stores. The card can
                be obtained freely and easily from the sales accountant in the branches upon your visit to one of Al Othaim markets.
            </div>
            <div class="title-contents">FIRSTLY: THE GOALS OF IKTISSAB CARD:</div>
            <div class="contents-cms">
                Iktissab card appeared to fulfill market requirements that aim to create association and
                lasting satisfaction of customers through the following:

            </div>

            <div class="complient-list">
                <ul>
                    <li><i class="fa fa-square"></i>
                        Analyzing behavior and purchase habit for Iktissab card holders to know their desires and requirements.
                    </li>
                    <li><i class="fa fa-square"></i>
                        Supporting and building excellent commercial relationships for Success partners with Iktissab card holders</li>
                    <li><i class="fa fa-square"></i>Maintaining the present customers.</li>
                    <li><i class="fa fa-square"></i>Attract new segments of customers.</li>
                </ul>

            </div>

            <div class="title-contents">SECONDLY: CARD PRIVILEGES:</div>

            <div class="complient-list">
                <ul>
                    <li><i class="fa fa-square"></i>
                        It is issued freely to customers.
                    </li>
                    <li><i class="fa fa-square"></i>
                        Integration of Iktissab card with the daily shoppers life.</li>
                    <li><i class="fa fa-square"></i>Provide many awards and valuable and unique gifts to Iktissab card holders through the collection of the maximum number of balance, and is calculated on the bases of the total purchases from Success partners.</li>
                    <li><i class="fa fa-square"></i>Submits prompt deductions for Iktissab card holders from Success partners (hotels, restaurants, facilities).</li>
                </ul>

            </div>

            <div class="title-contents">MEMBERSHIP OF SUCCESS PARTNERS IN IKTISSAB CARD :</div>
            <div class="contents-cms">
                As Iktissab Card has adopted the new concept for marketing; to be a recreation and a benefit, it appeared to coop with the era requirements and technologies to form a basic starting point to fulfill the requirements of its customers and to serve their goals and common interests
                and to answer all their enquiries through applying the new concept of shopping.
            </div>

            <div class="title-contents">THIRDLY: THE STRATEGY OF IKTISSAB CARD:</div>
            <div class="contents-cms">
                Activating and strengthening the relation between Iktissab card holders and Success partners through the following:

            </div>
            <div class="complient-list">
                <ul>
                    <li><i class="fa fa-square"></i>
                        Creating a new concept of shopping for Iktissab card holders.
                    </li>
                    <li><i class="fa fa-square"></i>
                        Integration of Iktissab card with the daily shoppers life.</li>
                    <li><i class="fa fa-square"></i>To form large data base for the use of Success partners.</li>
                    <li><i class="fa fa-square"></i>Collect the largest number of points that are calculated on the bases of the total purchases of Iktissab card holders from Success partners.</li>
                    <li><i class="fa fa-square"></i>Granting awards and deductions for Iktissab card holders.</li>
                    <li><i class="fa fa-square"></i>Maintaining present customers, and attracting new success partners with Iktissab.</li>
                </ul>

            </div>











            <div class="claerfix"></div>
        </div>
        <div class="youtube-main-wrapper col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
            <div class="youtube-wrapper">
                <iframe frameborder="0" style="float:right;" src="https://www.youtube.com/embed/M10nYXBaIWU" allowfullscreen="" class="youtube-container"></iframe>
            </div>
            <div class="youtube-wrapper">
                <iframe frameborder="0" style="float:right;" src="https://www.youtube.com/embed/vqXtMsfcQk0" allowfullscreen="" class="youtube-container"></iframe>
            </div>
            <div class="youtube-wrapper">
                <iframe frameborder="0" style="float:right;" src="https://www.youtube.com/embed/f4sdKEcl20w" allowfullscreen="" class="youtube-container"></iframe>
            </div>


        </div>
        <div class="claerfix"></div>
    </div>
    <div class="claerfix"></div>
</section><section class="container complient-wrapper">
    <div class="row">
        <div class="services-list-wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
            <div class="title-contents">FOURTHLY: METHOD OF IKTISSAB WORK:</div>
            <div class="contents-cms">
                As Iktissab card appeared to remain, its emblem was simplicity,
                easiness in dealings, to satisfy customers and to serve them.
            </div>

            <div class="title-contents">TECHNICAL PRIVILEGES:</div>
            <div class="contents-cms ">
                A modern and organized operation mechanism has been prepared for Iktissab card program,
                to provide the following:
            </div>
            <div class="complient-list">
                <ul>
                    <li><i class="fa fa-square"></i>
                        All that employees need to know through e-mail such as recommendations through e-mail and available channels.
                        <ul>
                            <li>- Purchase operations &amp; the acquired balance.</li>
                            <li>- Knowledge of values to benefit from balances.</li>
                        </ul>
                    </li>
                    <li><i class="fa fa-square"></i>
                        Correspond with Iktissab members and reply all their enquiries and recommendations through e-mail and available channels.</li>
                    <li><i class="fa fa-square"></i>The possibility of providing and activating shopping aspects of Success partners through e-mail site of Iktissab card.</li>
                    <li><i class="fa fa-square"></i>Use of (SMS) to serve customers, Success partners bears the costs of such service.</li>
                    <li><i class="fa fa-square"></i>Use of self &ndash;enquiry service (interactive reply).</li>
                </ul>

            </div>

            <div class="title-contents">THANKS TO GOD AND PEACE AND BLESSING BE UPON THE PROPHET:</div>
            <div class="contents-cms ">
                The card as mentioned in the question is allowed, as no sharia' violation will result from using it, thus it is Halal as God Almighty said," Allah make sale Halal"

                Although the card is not free of little of ignorance exploitation and endangering because card issuer and Success partners do not know precisely upon issuing the card to the customer the amount of deduction and incentives that they provide to him, but this is forgiven and do not affect the correctness of the contract, for two reasons:

                First: issuing the card and dealing with it do not result in damage to any of the three parties (the issuer and Success partners and the customer who is the card holder), in fact whenever the customer's use of the card increase, the benefits for all of them will increase, this is different from prohibited ignorance contracts that necessitates the loss of the other upon the profit of the other party, the much be the profit of the first the same will be the loss of the second.

                ULAMA stipulated that the prohibited exploitation of ignorance in contracts is the one that results in damage to one of the parties, Ibn Temeya said: "the sale that exploits ignorance is prohibited because of the risk that harm one of them". If there is no harm to all of them then the contracts is permissible. The second: that the card is issued free without return, and the prohibited exploitation of ignorance is that in the contracts of compensation.

                Thus the condition for the card to be allowed is that interning IKTISSAB program should not be based on fees paid by the customer the holder of the card wither such fees are upon issuance or included in the prices of commodities and services.
            </div>

            <div class="title-contents">REGARDING THE FEES PAID BY SUCCESS PARTNERS TO THE ISSUER IT IS DETAILED AS FOLLOWS:</div>
            <div class="contents-cms ">
                1- If they are percentage related to the deals made through him, e.g. bare 2 % of the total of the customer's balance or his purchases from him, this is allowed, because it is the marketing fee, and it is a sort of brokerage and the ULAMA stipulated that it is allowed even it is a percentage of the price. Al- Taswlee said: of this sort &ndash; if you said do work in my animal and you can take half of the gain… thus the fee for the broker is said to be one quarter of the tenth) ALBAHGA book &ndash; 2/ 299.
                <br>
                Ibn Qudama said: (he may hire a brokerage… if he specified the work without specifying the time and made for him one Dirham out of each one thousand Dirham then it is allowed). AL-moghny book 8/42.
                <br>
                2- If they are lump sum amounts paid by the partner to the issuer monthly or annually, this is not allowed unless it is for certain known work, such as to bare part of the administrative expenses such as commercial announcements, then it is allowed provided that they are the same amount of the actual costs of that work. But if in calculating such fees it is planned to cover the value of the process and incentives given to the customers then it is prohibited, as it include exploitation of ignorance. If the issuer takes form the partner a mortgage to insure the electronic devise on condition that the complete mortgage will be returned in
                case it is returned in good condition- this is not of that sort.
                <br><br>
                Source: http://www.shubily.com/index.php?news=66

            </div>
            <div class="title-contents">WHAT IS THE RULE OF SUBSCRIBING IN AL-OTHAIM COMPANY:</div>
            <div class="title-contents">Reply: Shiek: Dr. Mohammed bin Saud AL-osaimy. </div>
            <div class="contents-cms ">
                Reply: Shiek: Dr. Mohammed bin Saud AL-osaimy. Thanks to god and peace and blessings be upon the profit:
                <br><br>
                I reviewed a detailed report submitted by Al-AWAEL center for economic consultations for Abdullah Salih Al- Othaim Company, the study included issuing prospectus, company articles of association, articles of incorporation, finance contracts, bank facility agreement, supply contracts, Iktissab card contract, insurance contract, and company financial lists ended at the end of 2006.
                <br><br>
                Then I reviewed an updated report about company status, and also before subscription, the two reports showed that company works are conforming to Sharia and thus subscription is allowed.

                <br><br>
                Source: <a href="http://www.saaid.net/fatwa/sahm/91.htm" target="_blank">The Sharia rule &ndash; Shk. Dr. Mohammed Al-Othaimy.</a>

            </div>
        </div>
    </div>
</section>