<section class="container aboutus-wrapper">
    <div class="services-list-wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12 ">

        <div class="title-contents-top">OUR DEAR CUSTOMER</div>
        <div class="contents-cms">
            Assure that you always hold Iktissab Card during your shopping, and start by collecting cash amounts to be added to the balance of your Card from distinguished offers from AL-Othaim Markets Company or from the participating stores, and enjoy the new concept of shopping. We will add to the balance of your Iktissab Card a sum of 2 Riyals per 100 Riyals of your purchases from retail branches in AL-Othaim Markets Company or the participating stores, and we will add 2 Riyals per 1000 Riyals of your purchases from whole sale branches in AL-Othaim Markets or the whole sale participating stores subject to the Terms &amp; Conditions. Iktissab card will give you the opportunity to enjoy discounts, add cash to the balance of your card and special offers,
            and you can add remaining Halalas of your invoice to your Iktissab card balance.
        </div>
        <div class="claerfix"></div>

    </div>

    <div class="services-list-wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
        <div class="title-contents">REDEEMING AMOUNTS GAINED FROM IKTISSAB DISCOUNTS AND OFFERS </div>
        <div class="contents-cms">
            While visiting Al Othaim branch please follow brochure and price tags to know the items having special discounts and balance addition.
            You are entitled to redeem the amounts gained from your shopping receipt or the direct cash discounts you have collected during your shopping at Al Othaim Markets branches or participating stores, only 48 hours after the purchase transaction takes place. All you need to do is showing your Iktissab card the next time you shop at Al Othaim Markets branches, Saffori land or participating stores.
        </div>

        <div class="claerfix"></div>
    </div>

    <div class="services-list-wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
        <div class="title-contents">IMPORTANT NOTICES</div>
        <div class="contents-cms">
            Dear Customer: your first purchased transaction credit amount has been added to your account, however,the card is not valid to use again unless activated by using any available activation process.
            <br>
            Dear Customer: After activation of your card, your Pin code will be sent to the mobile number that you have registered with us, we hope that you keep the Pin code as it will be required when you use the card to redeem your credited earnings.
            <br>
            Dear Customer: We would like to inform you that the Iktissab program has been designed to serve you and protect your earns. Kindly consider that the addition of cash credits and its redemption requires the presence of the card with you, thus please make sure you present your card to the cashier before paying for your purchases as no
            credits can be added after the payment of the purchases receipt.

        </div>

        <div class="claerfix"></div>
    </div>

    <div class="claerfix"></div>
</section>