<section class="container aboutus-wrapper">
    <div class="services-list-wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
        <div class="title-contents">TERMS AND CONDITIONS</div>
        <div class="contents-cms requirement-wrapper">
            <ul class="list-unstyled">
                <li> To better serve you, you are kindly required to redeem your acquired cash in a period not exceeding 36 months from the date of the transaction. </li>
                <li> The card will be Inactive if you stop using it for 3 months and once you continue using Iktissab card, it will be activated automatically.</li>
                <li> Iktissab card is a loyalty card used for general purchases. Collection of credits and redeeming it, while its usage for special offers only will stop the card. </li>
                <li> With every purchase with 100 riyals you will get 2 riyals in your card balance. Except for the promotion products ( not included ).</li>
                <li> Discounted items and electronic devices are excluded from the discount percentage granted to the owner of the card.</li>
                <li> Iktissab reserve the rights to cancel the membership or the credit without prior notice to the customer.</li>
                <li> Your use of the card will express your agreement to the terms and conditions, and Iktissab reserve the right to change the terms and conditions without prior notice to the customer.</li>
                <li> The customer is not allowed to use more than 1 card, or any card that is not connected to data.</li>
            </ul>
        </div>
        <div class="claerfix"></div>
    </div>
    <div class="claerfix"></div>
</section>