<!DOCTYPE html>
<html>

{% block headerhome %}
    {% include(':front:header_home.html.twig') %}
{% endblock %}




<body>
<div class="main-wrapper">
    {% block top_menu %}
        {% include(':front:top_menu.html.twig') %}
    {% endblock %}
    {% block main_menu %}
        {% include(':front:main_menu.html.twig') %}
    {% endblock %}



{% block messages %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="col-lg-12 text-center alert alert-danger">
            {{ flashMessage }}
        </div>


    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="col-lg-12 text-center alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
{% endblock %}

{% block body %}{% endblock %}

{% block javascripts %}{% endblock %}

{#base.html country = {{ app.request.get('_country') }}#}
{#{{ render(controller('AppBundle:Default:subscription',{'country':app.request.get('_country')})) }}#}



{% block homefooter %}
    {% include(':front:footer_home.html.twig') %}
{% endblock %}



</div>
</body>
</html>
