{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">

    </div>
    <div class="main">
        <div class="row">
            <div class="col-lg-12 text-center">
                <br />
                <br />
                <br />
                <br />
                Welcome to othaimmarkets, Please select your country and preffered language
                </div>
            <div class="col-lg-6 text-center">
                Saudi Arabia
<br />
                <a href="{{ path('homepage',{'_country': 'sa', '_locale':'en'}) }}">English</a> | <a href="{{ path('homepage',{'_country': 'sa', '_locale':'ar'}) }}">عربي</a>
            </div>
            <div class="col-lg-6 text-center">
                Egypt
                <br />
                <a href="{{ path('homepage',{'_country': 'eg', '_locale':'en'}) }}">English</a> | <a href="{{ path('homepage',{'_country': 'eg', '_locale':'ar'}) }}">عربي</a>
            </div>
        </div>
    </div>

{% endblock %}

