{% extends 'baseadmin.html.twig' %}


{% block body %}
    <div class="AccessDenied">
        <div class="AccessTitle">
            ACCESS DENIED
            <br>
            You are not authorized to access this page
        </div>
    </div>
    <style type="text/css">
        .AccessDenied{ padding: 20px; margin-top: 6px; text-align: center; }
        .AccessTitle
        {
            font-size: 18px;
            font-family: Verdana;
        }
    </style>

{% endblock %}
{% block javascripts2 %}


{% endblock %}
