<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>اكتساب - Iktissab</title>


    <!-- slick & slick theme CSS -->
    <!-- slick & slick theme CSS -->


    <!-- Bootstrap CSS -->
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="Content/font-awesome.min.css" rel="stylesheet" />
    <!-- Default CSS -->
    <link href="Content/helper.css" rel="stylesheet" />
    <link href="Content/default_en.css" rel="stylesheet" />
    <script src="Scripts/jquery-3.1.1.min.js"></script>
    <script src="Scripts/jquery-migrate-3.0.0.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="Scripts/bootstrap-dropdownhover.min.js"></script>
    <script src="Scripts/owl.carousel.min.js"></script>
    <script src="Scripts/custom.js"></script>
    <script src="Scripts/bootstrap-tabcollapse.js"></script>
    <!--[if lt IE 9]>
    <script src="Scripts/html5shiv.min.js"></script>
    <script src="Scripts/respond.min.js"></script>
    <![endif]-->


    <script type="text/javascript" src="Scripts/jquery.flot.min.js"></script>


    <script type="text/javascript" src="Scripts/jquery.flot.time.min.js"></script>





</head>
<body>
<div class="main-wrapper">
    <nav class="navbar navbar-default noBorderRadius nomargin noBorder smallNavWrapper ">
        <div class="container topMenu">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 inquiry-wrapper nopadding-left">
                    <div class="top-contact-wrapper nopadding-left">
                        <ul class="nav navbar-nav navbar-right nomargin">
                            <li style="border-left:none; "><a href="#">Terms and Conditions</a></li>
                            <li><a href="#">Inquiries</a></li>
                            <li><a href="#" class="nopadding-left">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 myaccount-wrapper">
                    <div class="top-lang-wrapper">
                        <ul class="nav navbar-nav navbar-left top-lang-wrapper-inner">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    My Account </a>
                                <ul class="dropdown-menu right">
                                    <li><a href="#">Update User </a></li>
                                    <li><a href="#">Update User </a></li>
                                    <li><a href="#">Update User </a></li>
                                    <li><a href="#">Update User </a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

                                    Saudi Arabia <img alt="saudia" src="img/ksa.jpg" height="13px" /></a>
                                <ul class="dropdown-menu right">
                                    <li><a href="#">Egypt</a></li>
                                </ul>
                            </li>
                            <li class="langSelected"><a href="#">English</a></li>
                        </ul>
                    </div>
                </div>
                <div class="claerfix"></div>
            </div>
        </div>
    </nav>
    <div class="container wrapper-logo">
        <div class="row">
            <div class="col-lg-3 col-md-2 col-sm-3 col-xs-12 header-logo-wrap">
                <div class="logo-wrapper"><img alt="logo" class="img-responsive" src="img/logo.svg"></div>
            </div>
            <div class="col-lg-pull-1 col-md-offset-1 col-lg-6 col-md-6 col-sm-6 col-xs-12 mid-container">
                <div class="mid-content-banner"><img alt="banner" class="img-responsive" src="img/mid-banner.jpg" /></div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 header-contact-wrap nopadding-left  ">
                <div class="header-img"><img alt="phone" width="40" height="40" src="img/phone.svg"></div>
                <div class="header-contactno">
                    <div class="header-contact-text">Customer Support</div>
                    <div class="header-contact-number">920000702</div>
                    <div class="claerfix"></div>
                </div>
                <div class="claerfix"></div>
            </div>
            <div class="claerfix"></div>
        </div>
    </div>
    <div class="container-fluid menu-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-collapse" aria-expanded="false">

                        <i class="fa fa-bars" aria-hidden="true"></i>

                    </button>
                    <div class="collapse navbar-collapse nopadding-left" id="bs-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="home-icon"><a href="#"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    About Iktissab</a>
                                <ul class="dropdown-menu right">
                                    <li><a href="#">Update Account</a></li>
                                    <li><a href="#">Update Mobile</a></li>
                                    <li><a href="#">Update Iqama / SSN</a></li>
                                    <li><a href="#">Update Name</a></li>
                                </ul>
                            </li>
                            <li><a href="file:///Applications/XAMPP/xamppfiles/htdocs/ikthtml/Iktissabhtml/index.html#111">Promotions</a></li>
                            <li><a href="#">Motajira Musharika</a></li>
                            <li><a href="#">Community Services</a></li>
                            <li><a href="#">FAQ's</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
                    <div class="social-media">
                        <ul class="social-icons">
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li class="you-tube"><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="claerfix"></div>
            </div>
        </div>
    </div>


    <section class="container breadcrum-wrapper">
        <div class="row">
            <div class="breadcrumb">
                <a title="Home" class="in-active-link" href="#">Home</a>
                <span class="breadcrumb-separator"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                <a title="My account" class="last-breadcrumb">My account</a>
            </div>
        </div>
    </section>
    <section class="container cardactivation-wrapper">
        <div class="row">
            <div class="cardactivation-list-title-wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                <div class="title-contents">My Account</div>
            </div>
        </div>
        <div class="row">
            <div class="cardactivation-list-title-wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                <div class="sub-title-contents grey-color">Azwiya Number  <span class="orange-color"> 92000000</span> </div>
                <div class="activation-contents grey-color">Khaled Abdul Maqsood</div>
                <div class="claerfix"></div>
            </div>
        </div>

    </section>

    <section class="container eservices-wrapper">
        <div class="row eservice-contents">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 eservice-list">



                <ul id="myTab" class="nav nav-tabs" >
                    <li class="slide-section"><span class="eservice-list-icons"><i class="fa fa-plus-square" aria-hidden="true"></i>
</span>
                        Information
                    </li>
                    <li  class="active"><a href="#1" data-id="1"  data-path='http://www.google.com' data-toggle="tab">
                        <span class="eservice-list-icons"><i class="fa fa-caret-left" aria-hidden="true"></i></span>
                        Card Information
                    </a></li>
                    <li><a href="#2" data-toggle="tab"><span class="eservice-list-icons"><i class="fa fa-caret-left" aria-hidden="true"></i>


</span>
                        Personal Information
                    </a></li>

                    <li class="slide-section"><span class="eservice-list-icons"><i class="fa fa-plus-square" aria-hidden="true"></i>
</span>
                        المشروعات
                    </li>
                    <li ><a href="#3" data-id="3"  data-path=''  data-toggle="tab"><span class="eservice-list-icons"><i class="fa fa-caret-left" aria-hidden="true"></i>


</span>
                        Shariah Complient
                    </a></li>
                    <li ><a href="#3" data-toggle="tab"><span class="eservice-list-icons"><i class="fa fa-caret-left" aria-hidden="true"></i>


</span>
                        القائمة المفضلة
                    </a></li>




                    <li class="slide-section"><span class="eservice-list-icons"><i class="fa fa-plus-square" aria-hidden="true"></i>
</span>
                     Update Information
                    </li>
                    <li ><a href="#5" data-id="5"  data-path='' data-toggle="tab"><span class="eservice-list-icons"><i class="fa fa-caret-left" aria-hidden="true"></i>


</span>
                       Update card
                    </a></li>
                    <li ><a href="#6" data-id="6"  data-path='' data-toggle="tab"><span class="eservice-list-icons"><i class="fa fa-caret-left" aria-hidden="true"></i>


</span>
                        Update Personal Information
                    </a></li>

                    <li ><a href="#3" data-toggle="tab"><span class="eservice-list-icons"><i class="fa fa-caret-left" aria-hidden="true"></i>


</span>
                       Update Mobile Information
                    </a></li>
                    <li ><a href="#3" data-toggle="tab"><span class="eservice-list-icons"><i class="fa fa-caret-left" aria-hidden="true"></i>


</span>
                      Update Name
                    </a></li>
                    <li ><a href="#3" data-toggle="tab"><span class="eservice-list-icons"><i class="fa fa-caret-left" aria-hidden="true"></i>


</span>
                     Update Iqama / SSN
                    </a></li>
                    <li><a href="#3" data-toggle="tab"><span class="eservice-list-icons"><i class="fa fa-caret-left" aria-hidden="true"></i>


</span>
                        Update Email
                    </a></li>
                    <li class="slide-section-end"><a href="#3" data-toggle="tab"><span class="eservice-list-icons"><i class="fa fa-caret-left" aria-hidden="true"></i>


</span>
                       Update Account Password
                    </a></li>





                </ul>





                </ul>

            </div>
            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-8">
                <div id="myTabContent" class="tab-content eservice-list-contents" >
                    <div id="ajax-preloader-wrapper">
                        <div id="loader"></div>
                    </div>
                    <div class="tab-pane fade in active" id="contents-1">

                        <table class="table table-bordered">


                            <tr>
                                <td colspan="3" class="col-lg-12 eservice-content-company-title"> Information</td>
                            </tr>
                            <tr>
                                <td class="col-lg-4">
                                    <div class="ikt-info-wrapper">
                                        <div class="img-ikt-info"><img alt="total-balance" src="img/11.svg"></div>
                                        <div class="ikt-info-price">
                                            <div class="ikt-info-price-title">Total Balance</div>
                                            <div class="ikti-info-price-details color-blue">368.35</div>
                                            <div class="ikt-info-price-currency">SAR</div>
                                        </div>

                                    </div>
                                </td>
                                <td class="col-lg-4 ">
                                    <div class="ikt-info-wrapper">
                                        <div class="img-ikt-info"><img alt="total-balance" src="img/22.svg"></div>
                                        <div class="ikt-info-price">
                                            <div class="ikt-info-price-title">Used Balance</div>
                                            <div class="ikti-info-price-details orange-color">368.35</div>
                                            <div class="ikt-info-price-currency">SAR</div>
                                        </div>

                                    </div>
                                </td>
                                <td class="col-lg-4 ">
                                    <div class="ikt-info-wrapper">
                                        <div class="img-ikt-info"><img alt="total-balance" src="img/33.svg"></div>
                                        <div class="ikt-info-price">
                                            <div class="ikt-info-price-title">Current Balance</div>
                                            <div class="ikti-info-price-details light-red-color">368.35</div>
                                            <div class="ikt-info-price-currency">SAR</div>
                                        </div>

                                    </div>

                                </td>
                            </tr>
                            <tr>

                                <td colspan="3"  class="col-lg-12 user-details">
                                    <table class="table table-bordered user-details" >
                                        <tr>
                                            <td style="border-top:none !important;" class="user-details-date">
                                                <div class="ikt-date-info">
                                                    <div class="ikt-date-icon"><i class="fa fa-circle-o" aria-hidden="true"></i></div>
                                                    <div class="ikt-date-title">Activation Date</div>
                                                    <div class="ikt-date-date">26/09/2011</div>
                                                    <div class="claerfix"></div>
                                                </div>
                                            </td>
                                            <td style="border-top:none !important; border-left:none !important; border-bottom:none !important;" class="user-details-istikhdam">
                                                <div class="ikt-date-info">
                                                    <div class="ikt-date-icon"><i class="fa fa-circle-o" aria-hidden="true"></i></div>
                                                    <div class="ikt-date-title">Last Used</div>
                                                    <div class="ikt-date-date">26/09/2011</div>
                                                    <div class="claerfix"></div>
                                                </div>
                                            </td>

                                        </tr>
                                    </table>
                                </td>

                            </tr>
                            <tr>

                            </tr>

                        </table>
                        <div style="  float: right; width: 100%;" class=" ">

                            <div id="placeholder" class="col-lg-12 col-xs-12"></div>

                        </div>





                        <div class="clearfix"></div>
                    </div>
                    <div class="tab-pane fade  " id="2">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                <div class="eservice-content-personal-title">
                                المعلومات الشخصية
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                                <div class="eservice-content-personal-description">
                                    <div class="icon-list-account light-red-color"><i aria-hidden="true" class="fa fa-circle-o"></i></div>
                                    <div class="account-info-detail-wrapper">
                                        <div class="account-info-column">تاريخ الميلاد</div>
                                        <div class="account-info-value">26/09/2011</div>
                                        <div class="claerfix"></div>
                                    </div>
                                    <div class="claerfix"></div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                                <div class="eservice-content-personal-description">
                                    <div class="icon-list-account light-red-color"><i aria-hidden="true" class="fa fa-circle-o"></i></div>
                                    <div class="account-info-detail-wrapper">
                                        <div class="account-info-column">تاريخ الميلاد</div>
                                        <div class="account-info-value">26/09/2011</div>
                                        <div class="claerfix"></div>
                                    </div>
                                    <div class="claerfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                                <div class="eservice-content-personal-description">
                                    <div class="icon-list-account light-red-color"><i aria-hidden="true" class="fa fa-circle-o"></i></div>
                                    <div class="account-info-detail-wrapper">
                                        <div class="account-info-column">تاريخ الميلاد</div>
                                        <div class="account-info-value">26/09/2011</div>
                                        <div class="claerfix"></div>
                                    </div>
                                    <div class="claerfix"></div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                                <div class="eservice-content-personal-description">
                                    <div class="icon-list-account light-red-color"><i aria-hidden="true" class="fa fa-circle-o"></i></div>
                                    <div class="account-info-detail-wrapper">
                                        <div class="account-info-column">تاريخ الميلاد</div>
                                        <div class="account-info-value">26/09/2011</div>
                                        <div class="claerfix"></div>
                                    </div>
                                    <div class="claerfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                                <div class="eservice-content-personal-description">
                                    <div class="icon-list-account light-red-color"><i aria-hidden="true" class="fa fa-circle-o"></i></div>
                                    <div class="account-info-detail-wrapper">
                                        <div class="account-info-column">تاريخ الميلاد</div>
                                        <div class="account-info-value">26/09/2011</div>
                                        <div class="claerfix"></div>
                                    </div>
                                    <div class="claerfix"></div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                                <div class="eservice-content-personal-description">
                                    <div class="icon-list-account light-red-color"><i aria-hidden="true" class="fa fa-circle-o"></i></div>
                                    <div class="account-info-detail-wrapper">
                                        <div class="account-info-column">تاريخ الميلاد</div>
                                        <div class="account-info-value">26/09/2011</div>
                                        <div class="claerfix"></div>
                                    </div>
                                    <div class="claerfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                                <div class="eservice-content-personal-description">
                                    <div class="icon-list-account light-red-color"><i aria-hidden="true" class="fa fa-circle-o"></i></div>
                                    <div class="account-info-detail-wrapper">
                                        <div class="account-info-column">تاريخ الميلاد</div>
                                        <div class="account-info-value">26/09/2011</div>
                                        <div class="claerfix"></div>
                                    </div>
                                    <div class="claerfix"></div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                                <div class="eservice-content-personal-description">
                                    <div class="icon-list-account light-red-color"><i aria-hidden="true" class="fa fa-circle-o"></i></div>
                                    <div class="account-info-detail-wrapper">
                                        <div class="account-info-column">تاريخ الميلاد</div>
                                        <div class="account-info-value">26/09/2011</div>
                                        <div class="claerfix"></div>
                                    </div>
                                    <div class="claerfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="tab-pane fade  " id="3">
                        <div class="eservice-content-company-title">
                            استراتيجية المؤسسة
                        </div>
                        <div class="eservice-content-company-description" id="contents-3"></div>
                            <div class="clearfix"></div>
                    </div>
                    <div class="tab-pane fade  " id="4">
                        <div class="eservice-content-company-title">
                            الرؤية والرسالة
                        </div>
                        <div class="eservice-content-company-description">
                            مؤسسة خيرية تأ سست عام 1429 هـ ، ومسجلة بوازرة الشؤون الاجتماعية برقم 64، تقدم منح مالية للجهات الخيرية ، بهدف مساعدتها على تقديم خدماتها التنموية للفئات الأشد إحتياجاً ، والعمل على بناء شراكات مع القطاع العام والخاص ، من أجل المساهمة في التنمية المستدامة.
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="tab-pane fade  " id="5">
                        <div class="eservice-content-company-title">
                            طلب بدل فاقد
                        </div>
                        <div class="eservice-content-iqama-description" id="contents-5">
                            <form>
                                <div class="row">
                                    <div class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-4 col-sm-offset-2 col-sm-4 col-xs-12  eservice-headings">
        111                                البريد الإلكتروني
                                    </div>
                                    <div class="col-lg-offset-3 col-lg-6 col-md-8 col-sm-offset-2 col-sm-8 col-xs-12 description eservice-details">
                                        <input type="text" class="form-control" id="formGroupExampleInput4" placeholder="البريد الإلكتروني">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-offset-3 col-lg-6 col-md-4 col-sm-offset-2 col-sm-4 col-xs-12  eservice-headings">
                                        البريد الإلكتروني
                                    </div>
                                    <div class="col-lg-offset-3 col-lg-6 col-md-8 col-sm-offset-2 col-sm-8 col-xs-12 description eservice-details">
                                        <input type="text" class="form-control" id="formGroupExampleInput4" placeholder="البريد الإلكتروني">
                                    </div>
                                </div>

                            <div class="row">
                                <div class="col-lg-offset-3 col-lg-6 col-md-4 col-sm-offset-2 col-sm-4 col-xs-12  eservice-headings">
                                    البريد الإلكتروني
                                </div>
                                <div class="col-lg-offset-3 col-lg-6 col-md-8 col-sm-offset-2 col-sm-8 col-xs-12 description eservice-details">
                                    <input type="text" class="form-control" id="formGroupExampleInput4" placeholder="البريد الإلكتروني">
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-lg-offset-4 col-lg-4 col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8 col-xs-offset-1  col-xs-18 description eservice-submit">
                                    <input type="submit" class="button-2x" value="تحديث"    id="submit"   >
                                </div>
                            </div>
                            </form>

                         </div>


                        </div>
                    <div class="tab-pane fade  " id="6">
                        <div class="eservice-content-company-title">
                            تحديث البيانات الشخصية
                        </div>
                        <div class="eservice-content-iqama-description" id="contents-6">
                            <form>
                                <div class="row">
                                    <div class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-4 col-sm-offset-2 col-sm-4 col-xs-12  eservice-headings">
                                        asd                                البريد الإلكتروني
                                    </div>
                                    <div class="col-lg-offset-3 col-lg-6 col-md-8 col-sm-offset-2 col-sm-8 col-xs-12 description eservice-details">
                                        <input type="text" class="form-control" id="formGroupExampleInput4" placeholder="البريد الإلكتروني">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-offset-3 col-lg-6 col-md-4 col-sm-offset-2 col-sm-4 col-xs-12  eservice-headings">
                                        البريد الإلكتروني
                                    </div>
                                    <div class="col-lg-offset-3 col-lg-6 col-md-8 col-sm-offset-2 col-sm-8 col-xs-12 description eservice-details">
                                        <input type="text" class="form-control" id="formGroupExampleInput4" placeholder="البريد الإلكتروني">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-offset-3 col-lg-6 col-md-4 col-sm-offset-2 col-sm-4 col-xs-12  eservice-headings">
                                        البريد الإلكتروني
                                    </div>
                                    <div class="col-lg-offset-3 col-lg-6 col-md-8 col-sm-offset-2 col-sm-8 col-xs-12 description eservice-details">
                                        <input type="text" class="form-control" id="formGroupExampleInput4" placeholder="البريد الإلكتروني">
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-lg-offset-4 col-lg-4 col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8 col-xs-offset-1  col-xs-18 description eservice-submit">
                                        <input type="submit" class="button-2x" value="تحديث"    id="submit"   >
                                    </div>
                                </div>
                            </form>

                        </div>


                    </div>






                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

    </section>










    <section class="container-fluid se-iktitem-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="footer-title">قائمة المراسلات</div>
                    <div class="footer-murasilat">
                        <ul>
                            <li>النشـرة البريديـة</li>
                            <li>اشترك معنا فى النشرة البريدية وخدمة</li>
                            <li>الرسائل لتصلك أحدث عروضنا</li>
                            <li>الشكاوى والمقترحاتالنشـرة البريديـة</li>
                            <li>
                                <div class="sub-scribor">
                                    <div class="sub-scribor-button"><button type = "button"  class = "btn btn-default btn-xs subscribe">
                                        اشتراك
                                    </button></div>
                                    <div class="sub-scribor-input"><input type="text" class="input_subscribe" id="subscribe" name=""subscribe /></div>

                                </div>
                            </li>
                            <li>خدمـة الرسائـل</li>
                            <li>
                                <div class="sub-scribor">
                                    <div class="sub-scribor-button"><button type = "button"  class = "btn btn-default_mobile btn-xs subscribe_mobile">
                                        اشتراك
                                    </button></div>
                                    <div class="sub-scribor-input"><input type="text" class="input_subscribe_mobile" id="subscribe_mobile" name=""subscribe_mobile /></div>
                                    <div class="claerfix"></div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6">
                    <div class="footer-title">عن اكتساب</div>
                    <div class="footer-about-iktissab">
                        <ul>
                            <li><a href="">لمـاذا نحن</a></li>
                            <li><a href="">الرؤية والرسالـة</a></li>
                            <li><a href="">العروض الترويجية</a></li>
                            <li><a href="">المتاجر المشاركـة</a></li>
                            <li><a href="">متوافق مع الشريعة</a></li>
                            <li><a href="">خدمـة المجتمع</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6">
                    <div class="footer-title">البطاقات</div>
                    <div class="footer-bataqat">
                        <ul>
                            <li><a href="#">حسابــي</a></li>
                            <li><a href="#">نسيت كلمة المرور</a></li>
                            <li><a href="#">نسيت البريد الإلكتروني</a></li>
                            <li><a href="#">تفعيل البطاقات</a></li>
                            <li><a href="#">تعديل البيانـات</a></li>
                            <li><a href="#">طلب بدل فاقد</a></li>
                            <li><a href="#">معرفة الرصيـد</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                    <div class="footer-title">خدمة العملاء</div>
                    <div class="footer-emp-services">
                        <ul>
                            <li><a href="#">اتصل بنـا</a></li>
                            <li><a href="#">الأسئلة المتكـررة</a></li>
                            <li><a href="#">الشكاوى والمقترحات</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="footer-title">اتصل بنـا</div>
                    <div class="footer-contacts">
                        <div class="list-wrapper">
                            <div class="icon-list"><i class="fa fa-mobile" aria-hidden="true"></i></div>
                            <div class="title-list">هاتف خدمة العملاء</div>
                            <div class="claerfix"></div>
                        </div>

                        <div class="list-wrapper">
                            <div class="icon-list">&nbsp;&nbsp;&nbsp;</div>
                            <div class="title-list-phone">920000702 &nbsp;&nbsp;&nbsp;</div>
                            <div class="claerfix"></div>
                        </div>

                        <div class="list-wrapper">
                            <div class="icon-list"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
                            <div class="title-list">البريـد الإلكترونـي</div>
                            <div class="claerfix"></div>
                        </div>

                        <div class="list-wrapper">
                            <div class="icon-list">&nbsp;&nbsp;&nbsp;</div>
                            <div class="title-list-text">wecare@othaimmarkets.com</div>
                            <div class="claerfix"></div>
                        </div>

                        <div class="list-wrapper">
                            <div class="icon-list"><i class="fa fa-laptop" aria-hidden="true"></i></div>
                            <div class="title-list">تابعونــا علـى</div>
                            <div class="claerfix"></div>
                        </div>
                        <div class="list-wrapper">
                            <div class="icon-list">&nbsp;&nbsp;&nbsp;</div>
                            <div class="title-list-social">
                                <ul class="social-icons-footer">
                                    <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="https://twitter.com/OthaimMarkets"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="https://www.facebook.com/Othaim.Market"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="https://www.instagram.com/othaimmarkets/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                    <li><a href="https://www.youtube.com/user/othaimmarkets"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <div class="claerfix"></div>
                        </div>
                        <div class="claerfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid se-iktitem-copyright">
        <div class="container">
            <div class="row">
                <div class="se-ikt-item-copyright">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="copyright-content-wrapper">
                            <div class="row">
                                <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                                    <div class="copyright-text">
                                        جميع الحقوق محفوظة لشركة أسواق عبد الله العثيم @ 2017
                                    </div>
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                                    <div class="copyright-links">
                                        <div class="footer-links"><a href="#" >الشكاوى والمقترحات</a></div>
                                        <div class="footer-links-separator"> | </div>
                                        <div class="footer-links"><a href="#" >الشروط والأحكام</a></div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="playstore-wrapper">
                            <div class="gplay"><a href="#"><img alt="google-play" class="img-responsive" src="img/gplay.jpg" /></a></div>
                            <div class="appstore"><a href="#"><img alt="appstore" class="img-responsive" src="img/appstore.jpg" /></a></div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>




</div>
<!-- /.nav -->
<!-- JS jquery, bootstrap ,migrate, etc ... -->

<script type="text/javascript">

    var d1 = [[1262304000000, 3], [1264982400000, 13], [1267401600000, 15], [1270080000000, 18], [1272672000000, 23], [1275350400000, 27], [1277942400000, 30], [1280620800000, 30], [1283299200000, 27], [1285891200000, 22], [1288569600000, 16], [1291161600000, 13]];
    var data1 = [{data: d1, points: { symbol: "circle", fillColor: "#0F935D" }, color: '#0F935D'}];

    if(window.screen.width < 767) {
        // some code..
        var monthsData = ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12"];
        var monthsData_ar = ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12"]
    } else {
        var monthsData = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
        var monthsData_ar = ["يناير", "فبراير", "مارس", "أبريل", "مايو", "يونيو", "يوليو", "أغسطس", "سبتمبر", "أكتوبر", "نوفمبر", "ديسمبر"]
    }
    $(document).ready(function () {
        $.plot($("#placeholder"), data1, {
            xaxis: {
                min: (new Date(2009, 11, 18)).getTime(),
                max: (new Date(2010, 11, 15)).getTime(),
                mode: "time",
                tickSize: [1, "month"],
                monthNames: monthsData_ar,
                tickLength: 0,
                axisLabel: 'Month',
                axisLabelUseCanvas: true,
                axisLabelFontSizePixels: 12,
                axisLabelFontFamily: 'Verdana, Arial, Helvetica, Tahoma, sans-serif',
                axisLabelPadding: 5
            },
            yaxis: {

                axisLabelUseCanvas: true,
                axisLabelFontSizePixels: 12,
                axisLabelFontFamily: 'Verdana, Arial, Helvetica, Tahoma, sans-serif',
                axisLabelPadding: 5
            },
            series: {
                lines: { show: true },
                points: {
                    radius: 3,
                    show: true,
                    fill: true
                },
            },
            grid: {
                hoverable: true,
                borderWidth: 1
            },
            legend: {
                labelBoxBorderColor: "none",
                position: "right"
            }
        });

        function showTooltip(x, y, contents, z) {
            $('<div id="flot-tooltip">' + contents + '</div>').css({
                top: y - 30,
                left: x - 135,
                'border-color': z,
            }).appendTo("body").fadeIn(200);
        }

        function getMonthName(numericMonth) {
            var monthArray = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
            var alphaMonth = monthArray[numericMonth];

            return alphaMonth;
        }

        function convertToDate(timestamp) {
            var newDate = new Date(timestamp);
            var dateString = newDate.getMonth();
            var monthName = getMonthName(dateString);

            return monthName;
        }

        var previousPoint = null;

        $("#placeholder").bind("plothover", function (event, pos, item) {
            if (item) {
                if ((previousPoint != item.dataIndex) || (previousLabel != item.series.label)) {
                    previousPoint = item.dataIndex;
                    previousLabel = item.series.label;

                    $("#flot-tooltip").remove();

                    var x = convertToDate(item.datapoint[0]),
                            y = item.datapoint[1];
                    z = item.series.color;

                    showTooltip(item.pageX, item.pageY,
                            "<b>" + item.series.label + "</b><br /> " + x + " = " + y + "mm",
                            z);
                }
            } else {
                $("#flot-tooltip").remove();
                previousPoint = null;
            }
        });

        $('#myTab a').on('click', function (event) {
                  //alert('---');
            if($(this).data('id') != '13') { // 13 is for logout
                event.preventDefault();
                var path = $(this).data('path');
                //alert(path);
                var id = $(this).data('id');
                // alert(id);
                //if (path == undefined || path == null || path == '') return;
                $.ajax({

                    url:'http://localhost/ikthtml/Iktissabhtml/iqama.html',
                    beforeSend: function () {
                        $('#ajax-preloader-wrapper').show();
                    },
                    complete: function () {
                        $('#ajax-preloader-wrapper').hide();
                    },
                    success: function (response) {
                        $("#contents-"+id).html(response);
                    }
                });

            }
        });


    });
</script>


<style type="text/css">
    #placeholder { width: 100%; height: 400px; }
</style>


</body>
</html>
