{% extends 'base.html.twig' %}

{% block body %}

    <section class="container ">
        {% if app.request.cookies.get('c_locale') == "en" %}
            {%  set side = 'right'  %}
        {% elseif app.request.cookies.get('c_locale') == "ar"  %}
            {%  set side = 'left'  %}
        {% else %}
            {%  set side = 'left'  %}
        {% endif %}
        <div class="breadcrum-wrapper">
            <div class="row">
                <div class="breadcrumb">
                </div>
            </div>
        </div>
        </section>
        <section class="container verify_reset_password_wrapper">
        <div class="row">
            <div class="login-list-title-wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                <div><h1> Testing Services Get</h1></div>
            </div>
        </div>


            <div class="row">
                <div class="  col-lg-12  col-md-12 col-sm-12 col-xs-12 ">
                    <div style="float: left; width: 800px;">
                            {% if data !="" %}
                                {{ dump(data) }}
                            {% endif %}
                        <form id="getTestRS" name="getTestRS" action="getTestRS" method="post">
                            <br><br><br>
                            <br><br><br>
                            <input type="text" placeholder="url" style="height: 40px; margin-bottom: 20px;" class="  col-lg-12  col-md-12" id="url" name="url">
                            <select id="url2" name="url2">
                                <option value="settings">settings</option>
                                <option value="2328160417/is_ssn_used.json">is_ssn_used</option>
                                <option value="99574910/is_in_stagging.json">is_in_stagging</option>
                                <option value="99574910/is_card_registered.json">is_card_registered</option>
                                <option value="99574910/card_status.json">card_status</option>
                                <option value="22/area.json">area</option>
                                <option value="get_cities.json">cities</option>
                                <option value="99574910/userinfo.json">userinfo</option>
                                <option value="99574910/userdata.json">userdata</option>
                                <option value="99574910/customermonthtlysales.json">customermonthtlysales</option>
                                <option value="99574910/customertop5items.json">Customertop5items</option>
                                <option value="99574910/opt/code.json">optcode</option>
                                <option value="99574910/customer_transaction_count.json">Customer_transaction_count</option>
                                <option value="99574910/customer_trans_bypage/1.json">99574910/customer_trans_bypage/1</option>
                                <option value="91000022/blacklisted_users.json">blacklisted_users</option>
                                <option value="allarealist.json">allarealist</option>
                                <option value="alljoblist.json">alljoblist</option>
                                <option value="cities_areas_and_jobs">cities_areas_and_jobs</option>
                                <option value="0583847092/check_mobile_registration">check_mobile_registration</option>
                                <option value="settings.json">settings</option>
                                <option value="settings.json">settings</option>
                                <option value="99574910/code.json">optcode</option>
                                <option value="99574910/code.json">optcode</option>
                                <option value="99574910/code.json">optcode</option>

                            <select>
                            <br><br><br>
                            <input type="submit" id="check" name="check" />
                            <br><br><br>
                        </form>
                    </div>
                </div>
            </div>
        </section>


    {% endblock %}
    {% block javascripts %}






{% endblock %}