{% extends 'base.html.twig' %}

{% block body %}

    <section class="container ">
        {% if app.request.cookies.get('c_locale') == "en" %}
            {%  set side = 'right'  %}
        {% elseif app.request.cookies.get('c_locale') == "ar"  %}
            {%  set side = 'left'  %}
        {% else %}
            {%  set side = 'left'  %}
        {% endif %}
        <div class="breadcrum-wrapper">
            <div class="row">
                <div class="breadcrumb">
                </div>
            </div>
        </div>
        </section>
        <section class="container verify_reset_password_wrapper">
        <div class="row">
            <div class="login-list-title-wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                <div><h1> Testing Services Post</h1></div>
            </div>
        </div>


            <div class="row">
                <div class="  col-lg-12  col-md-12 col-sm-12 col-xs-12 ">

                        <div style="float: left; width: 800px;">
                            {% if data !="" %}
                                {{ dump(data) }}
                            {% endif %}
                        <form id="testRS" name="testRS" action="postTestRSEmail" method="post">
                            <br><br><br>
                            <select id="data" name="data">
                                <option value="update_user_email">update_user_email</option>
                                <option value="update_user_mobile">update_user_mobile</option>
                                <option value="update_user_name">update_user_name</option>
                                <option value="update_lost_card">update_lost_card</option>
                                <option value="update_user_detail">update_user_detail</option>
                                <option ></option>
                                <option ></option>
                            </select>
                            <br><br><br>
                            <br><br><br>

                            <input type="submit" id="check" name="check" />
                            <br><br><br>

                        </form>
                        </div>
                    </div>

            </div>
        </section>


    {% endblock %}
    {% block javascripts %}






{% endblock %}