@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 94.3%;

    display: block;

    width: 20px;
    height: 20px;

    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;

}
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 94.3%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    z-index: 1;

}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: 1;
}

.slick-prev:before
{

    background-color: #008b40;
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    line-height: 1;
    opacity: 1;
    padding:2px 11px 4px 12px;
    width: 20px;
    border: 1px solid #008b40;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-next:before
{

    background-color: #008b40;
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    line-height: 1;
    opacity: 1;
    padding: 2px 11px 4px 12px;
    width: 20px;
    border: 1px solid #008b40;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    /*left: -25px;*/
    right: 16px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    /*right: -25px;*/
    right: 53px;

}
.slick-item-next
{
    /*right: -25px;*/
    right: 25px;

}


[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}












@charset 'UTF-8';
/* Slider */
.se-iktitem .slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.se-iktitem  .slick-prev
{
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: -10%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
}

.se-iktitem  .slick-next
{
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: -10%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    z-index: 1;

}
.se-iktitem  .slick-prev:hover,
.se-iktitem  .slick-prev:focus,
.se-iktitem  .slick-next:hover,
.se-iktitem  .slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.se-iktitem .slick-prev:hover:before,
.se-iktitem .slick-prev:focus:before,
.se-iktitem .slick-next:hover:before,
.se-iktitem .slick-next:focus:before
{
    opacity: 1;
}
.se-iktitem .slick-prev.slick-disabled:before,
.se-iktitem .slick-next.slick-disabled:before
{
    opacity: 1;
}

.se-iktitem .slick-prev:before
{
    background-color: #008b40;
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    line-height: 1;
    opacity: 1;
    padding: 1px 10px;
    width: 20px;
    border: 1px solid #008b40;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.se-iktitem .slick-next:before
{

    background-color: #008b40;
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    line-height: 1;
    opacity: 1;
    padding: 1px 10px;
    width: 20px;
    border: 1px solid #008b40;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.se-iktitem .slick-prev
{
    right: 12px;
}
[dir='rtl'] .se-iktitem  .slick-prev
{
    right: -25px;
    left: auto;
}

[dir='rtl'] .se-iktitem  .slick-prev:before
{
    content: '→';
}

.se-iktitem .slick-next
{
    /*right: -25px;*/
    right:47px;

}
.se-iktitem  .slick-item-next
{
    /*right: -25px;*/
    right: 25px;

}


[dir='rtl'] .se-iktitem  .slick-next
{
    right: auto;
    left: -25px;
}
[dir='rtl'] .se-iktitem .slick-next
{
    right: auto;
    left: -25px;
}

[dir='rtl'] .se-iktitem  .slick-next:before
{
    content: '←';
}

/* Dots */
.se-iktitem  .slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.se-iktitem  .slick-dots
{
    position: absolute;
    bottom: -25px;
    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.se-iktitem  .slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.se-iktitem  .slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.se-iktitem  .slick-dots li button:hover,
.se-iktitem  .slick-dots li button:focus
{
    outline: none;
}
.se-iktitem  .slick-dots li button:hover:before,
.se-iktitem .slick-dots li button:focus:before
{
    opacity: 1;
}
.se-iktitem  .slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.se-iktitem  .slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}











@charset 'UTF-8';
/* Slider */
.se-iktitem-brand .slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.se-iktitem-brand  .slick-prev
{
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: -10%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
}

.se-iktitem-brand  .slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: -10%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    z-index: 1;

}
.se-iktitem-brand  .slick-prev:hover,
.se-iktitem-brand  .slick-prev:focus,
.se-iktitem-brand  .slick-next:hover,
.se-iktitem-brand  .slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.se-iktitem-brand .slick-prev:hover:before,
.se-iktitem-brand .slick-prev:focus:before,
.se-iktitem-brand .slick-next:hover:before,
.se-iktitem-brand .slick-next:focus:before
{
    opacity: 1;
}
.se-iktitem-brand .slick-prev.slick-disabled:before,
.se-iktitem-brand .slick-next.slick-disabled:before
{
    opacity: 1;
}

.se-iktitem-brand .slick-prev:before
{
    background-color: #008b40;
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    line-height: 1;
    opacity: 1;
    padding: 1px 10px;
    width: 20px;
    border: 1px solid #008b40;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.se-iktitem-brand .slick-next:before
{

    background-color: #008b40;
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    line-height: 1;
    opacity: 1;
    padding: 1px 10px;
    margin-left: 15px;
    width: 20px;
    border: 1px solid #008b40;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.se-iktitem-brand .slick-prev
{
    /*left: -25px;*/
    right: 28px;
}
[dir='rtl'] .se-iktitem-brand  .slick-prev
{
    right: -25px;
    left: auto;
}

[dir='rtl'] .se-iktitem-brand  .slick-prev:before
{
    content: '→';
}

.se-iktitem-brand .slick-next
{
    /*right: -25px;*/
    right: 78px;

}
.se-iktitem-brand  .slick-item-next
{
    /*right: -25px;*/
    right: 25px;

}


[dir='rtl'] .se-iktitem-brand  .slick-next
{
    right: auto;
    left: -25px;
}
[dir='rtl'] .se-iktitem-brand .slick-next
{
    right: auto;
    left: -25px;
}

[dir='rtl'] .se-iktitem-brand  .slick-next:before
{
    content: '←';
}

/* Dots */
.se-iktitem-brand  .slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.se-iktitem-brand  .slick-dots
{
    position: absolute;
    bottom: -25px;
    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.se-iktitem-brand  .slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.se-iktitem-brand  .slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.se-iktitem-brand  .slick-dots li button:hover,
.se-iktitem-brand  .slick-dots li button:focus
{
    outline: none;
}
.se-iktitem-brand  .slick-dots li button:hover:before,
.se-iktitem-brand .slick-dots li button:focus:before
{
    opacity: 1;
}
.se-iktitem-brand  .slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.se-iktitem-brand  .slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}
