/*Reset*/
body {
    font-family: 'Cairo', Tahoma, Arial;
}

*:focus {outline:none;}
.nomargin {margin:0;}
.nopadding {padding: 0;}
.nomargin-right{margin-right: 0;}
.nomargin-left{margin-left: 0;}
.nomargin-bottom{margin-bottom: 0;}
.nomargin-top{margin-top: 0;}
.nopadding-right{padding-right: 0;}
.nopadding-left{padding-left: 0;}
.nopadding-bottom{padding-bottom: 0;}
.nopadding-top{padding-top: 0;}
.noborder{border:0;}
.noborder-right{border-right:0;}
.noborder-left{border-left:0;}
.noborder-top{border-top:0;}
.noborder-bottom{border-bottom:0;}
.redspan{color:#BBC337;}
.inline-true {display:inline}
.block-true {display:block}
.noborder-radius{border-radius:0;}

/*End Reset*/


.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2,
.col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7,
.col-md-8, .col-md-9 { float: left; }
.main-container{ float: left; width: 100%; }
.header-top-section {  height: 129px; border-bottom:1px solid #4e4e4e;margin: auto; width: 1170px; margin-bottom:40px;  }
.header-footer-section {  line-height: 40px; height: 40px;background-color: #0f0f0f  ;margin-top: 40px; border-top:1px solid #4e4e4e;margin: auto; width: 1170px;  }
.header-footer-section  .footer { text-align: center; font-size: 16px; color: #FFFFFF }
.left-sidebar{ height: 300px; padding-top: 20px; padding-bottom: 20px; }
.links{ height: 29px; border-bottom: 1px solid; line-height: 29px; }
.middle-contents{ height: 800px; }
.cms-button{ margin-top: 20px; width: 200px; text-align: center }
#cms_pages_save{ text-align: center; }
.cmsFormSaveBtn{ text-align: center; }
textarea.form-control{ height: 200px;}

.clearboth{clear: both;}
.header-title-wrapper{ float:left; width: 100%; height: 40px; background-color: #e7e7e7; line-height: 40px; border: 1px solid #eeeeee; }

.header-title{ padding-left: 10px; padding-right: 10px; float: left; width:260px; text-align: center; font-weight: bold;  }
.header-title-sno{ padding-left: 10px; padding-right: 10px; float: left; width:10px; text-align: center; font-weight: bold;  }
.header-title-action{ padding-left: 10px; padding-right: 10px; float: left; width:280px; text-align: center; font-weight: bold;  }
.header-action{ float:left; width: 70px }
.header-title-list{ padding-left: 10px; padding-right: 10px; float: left; width:260px; text-align: center;   }
.header-title-sno-list{ padding-left: 10px; padding-right: 10px; float: left; width:10px; text-align: center;    }
.header-title-action-list{ padding-left: 10px; padding-right: 10px; float: left; width:280px; text-align: center;    }
.header-action-list{ float:left; width: 70px }
.page-heading{ padding-bottom:20px;  }
.login-area{ width:30%; float: left; }
.Header-area{ width:70%; float: left}
.addNew{float: right; font-weight: bold; padding-bottom: 20px;}