/* arabic */
@font-face {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 200;
    src: local('Cairo ExtraLight'), local('Cairo-ExtraLight'), url(../fonts/google-fonts/5LOQ_MoEyLNG0tEIw7VXBhkAz4rYn47Zy2rvigWQf6w.woff2) format('woff2');
    unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+FB50-FDFF, U+FE80-FEFC;
}
/* latin-ext */
@font-face {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 200;
    src: local('Cairo ExtraLight'), local('Cairo-ExtraLight'), url(../fonts/google-fonts/XsUOtFIEOx9iWLLrJsllsBkAz4rYn47Zy2rvigWQf6w.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 200;
    src: local('Cairo ExtraLight'), local('Cairo-ExtraLight'), url(../fonts/google-fonts/m_6Y_1Nb823vSGJGfT_5vHYhjbSpvc47ee6xR_80Hnw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* arabic */
@font-face {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 300;
    src: local('Cairo Light'), local('Cairo-Light'), url(../fonts/google-fonts/fgBJt-qyQFuORpzrx3mX4hkAz4rYn47Zy2rvigWQf6w.woff2) format('woff2');
    unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+FB50-FDFF, U+FE80-FEFC;
}
/* latin-ext */
@font-face {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 300;
    src: local('Cairo Light'), local('Cairo-Light'), url(../fonts/google-fonts/nLADUPxUWC4EPe9A-_Us4RkAz4rYn47Zy2rvigWQf6w.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 300;
    src: local('Cairo Light'), local('Cairo-Light'), url(../fonts/google-fonts/NwJ8eIvZGAJEQL7ALJDfVXYhjbSpvc47ee6xR_80Hnw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* arabic */
@font-face {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 400;
    src: local('Cairo'), local('Cairo-Regular'), url(../fonts/google-fonts/KHiPzIiPko_Fw3pWntR2CoDGDUGfDkXyfkzVDelzfFk.woff2) format('woff2');
    unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+FB50-FDFF, U+FE80-FEFC;
}
/* latin-ext */
@font-face {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 400;
    src: local('Cairo'), local('Cairo-Regular'), url(../fonts/google-fonts/iExxv6nlTbTZ7OYq-WHjN4DGDUGfDkXyfkzVDelzfFk.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 400;
    src: local('Cairo'), local('Cairo-Regular'), url(../fonts/google-fonts/9AWxzDXz2R7tHfJeCoIOqqCWcynf_cDxXwCLxiixG1c.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* arabic */
@font-face {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 600;
    src: local('Cairo SemiBold'), local('Cairo-SemiBold'), url(../fonts/google-fonts/MI6TrIXLGD9aHguHYHeGURkAz4rYn47Zy2rvigWQf6w.woff2) format('woff2');
    unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+FB50-FDFF, U+FE80-FEFC;
}
/* latin-ext */
@font-face {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 600;
    src: local('Cairo SemiBold'), local('Cairo-SemiBold'), url(../fonts/google-fonts/s8FJ6hn1_1aAksu6WP2CahkAz4rYn47Zy2rvigWQf6w.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 600;
    src: local('Cairo SemiBold'), local('Cairo-SemiBold'), url(../fonts/google-fonts/nDAflKnJsVnfdGOoytL7mHYhjbSpvc47ee6xR_80Hnw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* arabic */
@font-face {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 700;
    src: local('Cairo Bold'), local('Cairo-Bold'), url(../fonts/google-fonts/RLgQnjqLWN5-LcxkRZr1cBkAz4rYn47Zy2rvigWQf6w.woff2) format('woff2');
    unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+FB50-FDFF, U+FE80-FEFC;
}
/* latin-ext */
@font-face {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 700;
    src: local('Cairo Bold'), local('Cairo-Bold'), url(../fonts/google-fonts/UlKq8fG0ZzFfhYvIA2PuURkAz4rYn47Zy2rvigWQf6w.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 700;
    src: local('Cairo Bold'), local('Cairo-Bold'), url(../fonts/google-fonts/IGeshMgNVhb2XU2TGWkITnYhjbSpvc47ee6xR_80Hnw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* arabic */
@font-face {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 900;
    src: local('Cairo Black'), local('Cairo-Black'), url(../fonts/google-fonts/_QQsgtYywAPNwcmixjhE6xkAz4rYn47Zy2rvigWQf6w.woff2) format('woff2');
    unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+FB50-FDFF, U+FE80-FEFC;
}
/* latin-ext */
@font-face {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 900;
    src: local('Cairo Black'), local('Cairo-Black'), url(../fonts/google-fonts/KCiMOaYFn2Leq6LR5gSAFRkAz4rYn47Zy2rvigWQf6w.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 900;
    src: local('Cairo Black'), local('Cairo-Black'), url(../fonts/google-fonts/417l3JBKBK04DZkInIQz6nYhjbSpvc47ee6xR_80Hnw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body {
    font-family: 'Cairo', sans-serif !important;
    font-weight: normal;

}

@font-face {
    font-family: DroidKufiBold;
    src: url('../fonts/DroidKufi-Bold.eot');
    src: url('../fonts/DroidKufi-Bold.ttf') format('truetype');
    src: url('../fonts/DroidKufi-Bold.eot?#iefix') format('embedded-opentype');
    src: url('../fonts/DroidKufi-Bold.woff') format('woff');
}

@font-face {
    font-family: DroidKufiRegular;
    src: url('../fonts/DroidKufi-Regular.eot');
    src: url('../fonts/DroidKufi-Regular.ttf') format('truetype'),
         url('../fonts/DroidKufi-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DroidKufi-Regular.woff') format('woff');
}

@font-face {
    font-family: DroidNashkBold;

    src: url('../fonts/DroidNaskh-Bold_0.ttf')format('truetype');
}

@font-face {
    font-family: DroidNashkRegular;
    src: url('../fonts/DroidNaskh-Regular_1.ttf')format('truetype');
}




.h2, h2{
    font-size:28px;
}
::-moz-selection {
    color: #ffffff;
    background: #0f935d;
}

::selection {
    color: #ffffff;
    background: #0f935d;
}

*:focus {outline:none;}
.nomargin {margin:0;}
.nopadding {padding: 0;}
.nomargin-right{margin-right: 0;}
.nomargin-left{margin-left: 0;}
.nomargin-bottom{margin-bottom: 0;}
.nomargin-top{margin-top: 0;}
.nopadding-right{padding-right: 0;}
.nopadding-left{padding-left: 0;}
.nopadding-bottom{padding-bottom: 0;}
.nopadding-top{padding-top: 0;}
.noborder{border:0;}
.noborder-right{border-right:0;}
.noborder-left{border-left:0;}
.noborder-top{border-top:0;}
.noborder-bottom{border-bottom:0;}
.redspan{color:#BBC337;}
.inline-true {display:inline}
.block-true {display:block}
.noBorderRadius{border-radius:0;}
a:hover { cursor: hand;}

.unselectableText {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
    cursor:default;
}


.breadcrumb { background-color: #FFFFFF;}
.breadcrumb li a { color: #343434;  text-decoration: none; font-weight: 600; font-size: 14px; }
.breadcrumb > li + li::before { color: #343434;  }
.breadcrumb > .active a{ color: #347f5b; }