
<section class="container-fluid se-iktitem-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="footer-title">قائمة المراسلات</div>
                <div class="footer-murasilat">
                    <ul>
                        <li>النشـرة البريديـة</li>
                        <li>اشترك معنا فى النشرة البريدية وخدمة</li>
                        <li>الرسائل لتصلك أحدث عروضنا</li>
                        <li>الشكاوى والمقترحاتالنشـرة البريديـة</li>
                        <li>
                            <div class="sub-scribor">
                                <div class="sub-scribor-button"><button type = "button"  class = "btn btn-default btn-xs subscribe">
                                        اشتراك
                                    </button></div>
                                <div class="sub-scribor-input"><input type="text" class="input_subscribe" id="subscribe" name=""subscribe /></div>

                            </div>
                        </li>
                        <li>خدمـة الرسائـل</li>
                        <li>
                            <div class="sub-scribor">
                                <div class="sub-scribor-button"><button type = "button"  class = "btn btn-default_mobile btn-xs subscribe_mobile">
                                        اشتراك
                                    </button></div>
                                <div class="sub-scribor-input"><input type="text" class="input_subscribe_mobile" id="subscribe_mobile" name=""subscribe_mobile /></div>
                                <div class="claerfix"></div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6">
                <div class="footer-title">عن اكتساب</div>
                <div class="footer-about-iktissab">
                    <ul>
                        <li><a href="">لمـاذا نحن</a></li>
                        <li><a href="">الرؤية والرسالـة</a></li>
                        <li><a href="">العروض الترويجية</a></li>
                        <li><a href="">المتاجر المشاركـة</a></li>
                        <li><a href="">متوافق مع الشريعة</a></li>
                        <li><a href="">خدمـة المجتمع</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6">
                <div class="footer-title">البطاقات</div>
                <div class="footer-bataqat">
                    <ul>
                        <li><a href="#">حسابــي</a></li>
                        <li><a href="#">نسيت كلمة المرور</a></li>
                        <li><a href="#">نسيت البريد الإلكتروني</a></li>
                        <li><a href="#">تفعيل البطاقات</a></li>
                        <li><a href="#">تعديل البيانـات</a></li>
                        <li><a href="#">طلب بدل فاقد</a></li>
                        <li><a href="#">معرفة الرصيـد</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                <div class="footer-title">خدمة العملاء</div>
                <div class="footer-emp-services">
                    <ul>
                        <li><a href="#">اتصل بنـا</a></li>
                        <li><a href="#">الأسئلة المتكـررة</a></li>
                        <li><a href="#">الشكاوى والمقترحات</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="footer-title">اتصل بنـا</div>
                <div class="footer-contacts">
                    <div class="list-wrapper">
                        <div class="icon-list"><i class="fa fa-mobile" aria-hidden="true"></i></div>
                        <div class="title-list">هاتف خدمة العملاء</div>
                        <div class="claerfix"></div>
                    </div>

                    <div class="list-wrapper">
                        <div class="icon-list">&nbsp;&nbsp;&nbsp;</div>
                        <div class="title-list-phone">920000702 &nbsp;&nbsp;&nbsp;</div>
                        <div class="claerfix"></div>
                    </div>

                    <div class="list-wrapper">
                        <div class="icon-list"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
                        <div class="title-list">البريـد الإلكترونـي</div>
                        <div class="claerfix"></div>
                    </div>

                    <div class="list-wrapper">
                        <div class="icon-list">&nbsp;&nbsp;&nbsp;</div>
                        <div class="title-list-text">wecare@othaimmarkets.com</div>
                        <div class="claerfix"></div>
                    </div>

                    <div class="list-wrapper">
                        <div class="icon-list"><i class="fa fa-laptop" aria-hidden="true"></i></div>
                        <div class="title-list">تابعونــا علـى</div>
                        <div class="claerfix"></div>
                    </div>
                    <div class="list-wrapper">
                        <div class="icon-list">&nbsp;&nbsp;&nbsp;</div>
                        <div class="title-list-social">
                            <ul class="social-icons-footer">
                                <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                <li><a href="https://twitter.com/OthaimMarkets"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.facebook.com/Othaim.Market"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.instagram.com/othaimmarkets/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.youtube.com/user/othaimmarkets"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                        <div class="claerfix"></div>
                    </div>
                    <div class="claerfix"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid se-ikt-item-copyright-wrapper">
    <div class="container">
        <div class="row">
            <div class="se-ikt-item-copyright">
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="copyright-content-wrapper">
                        <div class="row">
                            <div class="col-lg-5 col-md-7 col-sm-6 col-xs-12 nopadding-left">
                                <div class="copyright-text">
                                    جميع الحقوق محفوظة لشركة أسواق عبد الله العثيم @ 2017
                                </div>
                            </div>
                            <div class="col-lg-offset-1 col-lg-5 col-md-5 col-sm-6 col-xs-12">
                                <div class="copyright-links">
                                    <div class="footer-links"><a href="#" >الشكاوى والمقترحات</a></div>
                                    <div class="footer-links-separator"> | </div>
                                    <div class="footer-links"><a href="#" >الشروط والأحكام</a></div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 nopadding-left">
                    <div class="playstore-wrapper">
                        <div class="gplay"><a href="#" target="_blank"><img alt="google-play" class="img-responsive" src="img/gplay.svg" /></a></div>
                        <div class="appstore"><a href="#"  target="_blank"><img alt="appstore" class="img-responsive" src="img/appstore.svg" /></a></div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>




</div>
<!-- /.nav -->
<!-- JS jquery, bootstrap ,migrate, etc ... -->
<script src="{{ asset('js/webticker.js') }} "></script>
<script src="{{ asset('js/jquery-webticker.js') }}"></script>





