<nav class="navbar navbar-default noBorderRadius nomargin noBorder smallNavWrapper ">
    <div class="container topMenu">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                <div class="top-contact-wrapper">
                    <ul class="nav navbar-nav navbar-right nomargin">
                        <li style="border-left:none; "><a style="border-left:none; "  href="#">الشروط والأحكام</a></li>
                        <li><a href="#">الأسئلة المتكـررة</a></li>
                        <li><a href="#">اتصل بناء</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                <div class="top-lang-wrapper">
                    <ul class="nav navbar-nav navbar-left top-lang-wrapper-inner">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                حسابي&nbsp;&nbsp;</a>
                            <ul class="dropdown-menu right">
                                <li><a href="#">تحديث البيانات الشخصية </a></li>
                                <li><a href="#">تحديث رقم جوالك </a></li>
                                <li><a href="#">تحديث الاسم </a></li>
                                <li><a href="#">تحديث رقم هويتك</a></li>
                                <li><a href="#">بدل فاقد </a></li>
                                <li><a href="#">تحديث البريد الإلكتروني</a></li>
                                <li><a href="#">تفعيل البطاقات</a></li>
                                <li><a href="#">تعديل البيانـات</a></li>
                                <li><a href="#">معرفة الرصيـد</a></li>
                                <li><a href="#"> تغيير كلمة المرور  </a></li>
                                <li><a href="#">استعادة كلمة مرور البطاقة </a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

                                السعودية     &nbsp;&nbsp;  <img alt="saudia" src="img/ksa.jpg"  height="13px" /></a>
                            <ul class="dropdown-menu right">
                                <li><a href="#">مصر</a></li>
                            </ul>
                        </li>
                        <li class="langSelected"><a href="#">English</a></li>
                    </ul>
                </div>
            </div>
            <div class="claerfix"></div>
        </div>
    </div>
</nav>