<section class="container breadcrum-wrapper">
    <div class="row">
        <div class="breadcrumb">
            <a class="in-active-link" href="/iktissabNew/index.php/sa/en/">Home</a>

            <span class="breadcrumb-separator"><i class="fa fa-angle-right" aria-hidden="true"></i></span>


            <a href="#" class="last-breadcrumb">Why Us </a>

        </div>
    </div>
</section>
<section class="container">
    <div class="row">
        <div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 login-list-message-wrapper">
        </div>
    </div>
</section>
<section class="container whyus-wrapper">        <div class="row">
        <div class="whyus-list-wrapper col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
            <div class="title-contents">VISION</div>
            <div class="contents-cms">
                Provide the customer with the best shopping experience by highlighting the real concept of loyalty between the program and its customers.                    </div>                    <div class="claerfix"></div>
        </div>
        <div class="whyus-list-wrapper col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
            <div class="title-contents">Why Us</div>
            <div class="contents-cms">
                IKTISSAB loyalty program counts on the customer and his relation with the program, also on its partners from the participating shops, so the customer can enjoy the discounts provided by those partners through a complete decent system.                </div>
            <div class="claerfix"></div>
        </div>          </div>
    <div class="row">
        <div class="whyus-list-wrapper col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
            <div class="title-contents">VALUES</div>
            <div class="contents-cms">

                <p>     Based on our holy religion and decent culture, we believe in:<br>
                    1.	Outstanding performance.<br>
                    2.	Customer satisfaction.<br>
                    3.	Teamwork.<br>
                    4.	Confidence.<br>
                    5.	Fulfillment.<br>
                    6.	Justice and fairness.<br>
                    7.	Transparency and accountability.</p>
            </div>
            <div class="title-contents">Important tips to take advantage of Iktissab card</div>
            <div class="contents-cms">
                <ul>
                    <li>Show Iktissab card to the cashier before payment  </li>
                    <li>Take into consideration that the addition of balance, getting discounts or exchanging items requires the presence of the card </li>
                    <li>Using Iktissab card only to take advantage of promotions, will stop the card</li>
                </ul>
            </div>
            <div class="title-contents">Social discounts activation methods are</div>
            <div class="contents-cms">
                <ul>
                    <li>sending the documents through fax No. 0114937778 Extension No. 2225  </li>
                    <li>Iktissab application for smartphones ( apple &amp; android ) </li>
                    <li>Othaim market branches</li>
                </ul>
            </div>
            <div class="claerfix"></div>
        </div>
        <div class="whyus-list-wrapper col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
            <div class="title-contents">MISSION</div>
            <div class="contents-cms">
                <p>Iktissab is a loyalty program that aims to pioneer the beginning of a new shopping era. </p>
                <p>There are a large variety of advantages like </p>
                <p>1- Adding 2 riyals with every purchase of 100 riyals from retail branches, and 2 riyals with every purchase of 1000 riyals from wholesales branches under Iktissab terms and conditions.</p>
                <p>2- Opportunity to take advantage of special offers and discounts up to 50% for Iktissab customers including </p>
                <ul>
                    <li>Smartphones  </li>
                    <li>Electronic calculators  </li>
                    <li>Widescreen displays  </li>
                    <li>Food  </li>
                    <li>Bakery  </li>
                    <li>Personal care products and cosmetics  </li>
                </ul>
                <p>3- Opportunity to take advantage of the many offers and discounts from participating stores including restaurants, global brands and safori Land.</p>
                <p>4- Iktissab customer has the opportunity to get a rapid access to the weekly promotion via SMS and email</p>
                <p>5- Opportunity to participate and win several prizes</p>
            </div>
            <div class="claerfix"></div>
        </div>            </div>
    <div class="row">
        <div class="whyus-list-wrapper col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
            <div class="title-contents">Registration methods are</div>
            <div class="contents-cms">
                <p>
                    1-	Communication center 920000702<br>
                    2-	Iktissab website <a href="http://www.othaimmarkets.com/iktissab" title="http://www.othaimmarkets.com/iktissab">http://www.othaimmarkets.com/iktissab</a><br>
                    3-	Iktissab application for smartphones ( apple or android )<br>
                    4-	We will be glad to serve you 24/7 </p>
            </div>
            <div class="claerfix"></div>
        </div>
        <div class="whyus-list-wrapper col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
            <div class="title-contents">Social discounts activation methods are:</div>
            <div class="contents-cms">                    <ul>                        <li>sending the documents through fax No. 0114937778 Extension No. 2225  </li>                        <li>Iktissab application for smartphones ( apple &amp; android ) </li>                        <li>Othaim market branches</li>                    </ul>                </div>                <div class="claerfix"></div>            </div>            </div>            <div class="claerfix"></div>    </section>