{% extends '::baseadmin.html.twig' %}


{% block body %}
    <div class="row">
        <div class="col-lg-12  col-md-12 col-sm-12 ">
        <div class="cmsForm"></div>
            <h1>Adding a new image</h1>

            {{ form_start(form) }}
            {# ... #}

            {{ form_row(form.image) }}

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}


