<section class="container services-wrapper">
    <div class="services-list-wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12 ">

        <div class="title-contents-top">خدمة المجتمع</div>
        <div class="contents-cms"> إيماناً منا بضرورة المشاركة في خدمة المجتمع وخاصة فئة محدودي الدخل بما يعود على المصلحة العامة بالخير قمنا بإطلاق برنامج اكتساب من منطلق المسؤولية الدينية والأخلاقية تجاه أهلنا ومجتمعنا ووطننا ولمواجهة التضخم بالأسعار وتوفير متطلبات الأسره من السلع الاستهلاكية والغذائية بأقل الاسعار ودعماً للبرامج الخيرية المتنوعة التي يعم نفعها على بعض فئات المجتمع الخاصة
            للحصول على معلومات أكثر وآلية الاستفادة من الخصومات الخاصة تفضل بالاتصال على الرقم الموحد 920000702
        </div>

        <div class="claerfix"></div>

    </div>

    <div class="services-list-wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
        <div class="title-contents">برنامج اكتساب التعاوني</div>
        <div class="contents-cms">هو أول برنامج متكامل متخصص لخدمة فئات المجتمع ترعاه شركة أسواق عبدالله العثيم ومؤسسة العثيم الخيرية وشركة اكتساب ، حيث تعتمد فكرة البرنامج على تقديم السلع الاستهلاكية والغذائية للمستهلك النهائي الذي يقع ضمن مجموعة فئات المجتمع المستهدفة بسعر مناسب ومدعوم . وعند تسوقه يحصل على دعم نقدي مباشر على مجموعة من الأصناف الحيوية والأساسية يتراوح الدعم مابين 5% حتى 30 % بحد أعلى للدعم 300 ريال لكل مستفيد شهرياً وذلك لضمان استفادة أكبر عدد ممكن من المشاركين في البرنامج</div>
        <div class="claerfix"></div>
    </div>
    <div class="claerfix"></div>
</section><section class="container services-tawani">
    <div class="services-tawani-wrapper col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
        <div class="title-contents">الفئات المستفيدة من برنامج اكتساب التعاوني</div>
        <div class="contents-cms">
            <div class="title-service-list">
                <ul><li><i class="fa fa-square"></i> منتسبو الضمان الاجتماعي </li>
                    <li><i class="fa fa-square"></i> المطلقات والأرامل</li>
                    <li><i class="fa fa-square"></i> المتقاعدون </li>
                    <li><i class="fa fa-square"></i> منتسبو الجمعيات الخيرية</li>
                    <li><i class="fa fa-square"></i> منتسبو الصندوق الخيري</li>
                    <li><i class="fa fa-square"></i> ذوي الاحتياجات الخاصة</li>
                    <li><i class="fa fa-square"></i> الايتام</li>
                    <li><i class="fa fa-square"></i> أبناء وأسر السجناء والشهداء والمفرج عنهم</li>
                    <li><i class="fa fa-square"></i>  أي فئة من فئات المجتمع تحتاج لدعم هذا البرنامج</li>

                </ul>
            </div>
        </div>
        <div class="claerfix"></div>
    </div>


    <div class="services-tawani-wrapper col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
        <div class="services-columns-wrapper">
            <div class="title-contents">آلية الانضمام لبرنامج اكتساب التعاوني</div>
            <div class="contents-cms">
                للانضمام للبرنامج لابد للمستفيد أن يكون عضواً في برنامج اكتساب ويحمل بطاقة عضوية سارية المفعول . ويلزم تفعيل الخصم إرسال المستندات المطلوبة على الفاكس رقم 0114937778 تحويلة 2225 .
            </div>
            <div class="claerfix"></div>
        </div>
        <div class="services-columns-wrapper">
            <div class="title-contents-top">عملاء الجمعيات الخيرية</div>
            <div class="contents-cms">نتشرف بخدمة عملاء الجمعيات الخيرية وذلك بطباعة بطاقات الجمعيات الخيرية في مقر الادارة العامة لأسواق عبد الله العثيم ( قسم اكتساب ) الرياض &ndash; مخرج 14
                كما نقدم خدمة الاستفسار عن رصيد بطاقة الجمعية وذلك بالاتصال على الرقم الموحد لخدمة العملاء 920000702 أو بزيارة الموقع الإلكتروني </div>
            <div class="claerfix"></div>
        </div>

    </div>
    <div class="claerfix"></div>
</section>