<section class="container complient-wrapper">
    <div class="row">
        <div class="services-list-wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
            <div class="title-contents">متوافق مع الشريعة</div>
        </div>
    </div>
    <div class="row">
        <div class="complient-wshariah-wrapper col-lg-8 col-md-8 col-sm-6 col-xs-12 ">
            <div class="title-contents">تعريف البطاقة :</div>
            <div class="contents-cms">
                هي البداية لمرحلة تسوق جديدة تمنحك بطاقة اكتساب فرصه الحصول على مبالغ نقدية مكتسبة تضاف إلى رصيد بطاقتك وخصومات في كل مره تتسوق بها من أسواق العثيم أو في المتاجر المشاركة ويمكن الحصول على البطاقة مجانا وبكل سهولة من خلال محاسب المبيعات بالفروع عند زيارتك أحد فروع أسواق العثيم .
            </div>
            <div class="title-contents">أولاً: أهداف بطاقة (اكتساب)</div>
            <div class="contents-cms">
                ظهرت بطاقة (اكتساب) لتكون ملبية لمتطلبات السوق، الذي يهدف إلى خلق الانتماء، والرضا الدائمين للعملاء من خلال:

            </div>

            <div class="complient-list">
                <ul>
                    <li><i class="fa fa-square"></i>
                        تحليل السلوك والعادات الشرائية لحاملي بطاقة (اكتساب) لمعرفة رغباتهم ومتطلباتهم.
                    </li>
                    <li><i class="fa fa-square"></i>
                        دعم وبناء العلاقات التجارية المرموقة لشركاء النجاح مع حاملي بطاقة (اكتساب)</li>
                    <li><i class="fa fa-square"></i> زيادة مبيعات شركاء النجاح الناتجة عن الإقبال الكبير للاستفادة من المميزات المقدمة لحاملي بطاقة (اكتساب)</li>
                    <li><i class="fa fa-square"></i>استقطاب شرائح جديدة من العملاء.</li>
                </ul>

            </div>

            <div class="title-contents">ثانياً: مميزات البطاقة:</div>

            <div class="complient-list">
                <ul>
                    <li><i class="fa fa-square"></i>
                        تصدر مجاناً للعملاء.
                    </li>
                    <li><i class="fa fa-square"></i>
                        تقدِّم العديد من المكافآت والهدايا القيمة والمتميزة لحاملي بطاقة اكتساب عن طريق جمع عدد أكبر من الرصيد ، وتحتسب على أساس جملة مشترياتهم من شركاء النجاح..</li>
                    <li><i class="fa fa-square"></i>تقدِّم الخصومات الفورية لحاملي بطاقة اكتساب من قبل شركاء النجاح (الفنادق، المطاعم، المرافق) . </li>
                </ul>

            </div>

            <div class="title-contents">عضوية شركاء النجاح في بطاقة (اكتساب) :</div>
            <div class="contents-cms">
                حيث إن بطاقة (اكتساب) قد أخذت على عاتقها المفهوم الجديد للتسوق ؛ ليكون متعة وفائدة، وظهرت لتواكب متطلبات العصر وتقنياته لتشكل بذلك منطلقًا رئيسيًا في تلبية متطلبات عملائها وخدمة أهدافهم ومصالحهم المشتركة، والإجابة على جميع تساؤلاتهم من خلال تطبيقها المفهوم الجديد للتسوق
            </div>

            <div class="title-contents">ثالثاً : استراتيجية بطاقة (اكتساب)</div>
            <div class="contents-cms">
                تفعيل وتعزيز العلاقة بين حاملي بطاقة (اكتساب) وشركاء النجاح من خلال:

            </div>
            <div class="complient-list">
                <ul>
                    <li><i class="fa fa-square"></i>
                        خلق مفهوم جديد للتسويق لدى حاملي بطاقة (اكتساب).
                    </li>
                    <li><i class="fa fa-square"></i>
                        دمج بطاقة (اكتساب) مع حياة المتسوِّق اليومية. </li>

                    <li><i class="fa fa-square"></i>
                        جمع أكبر عدد من النقاط، وتحتسب على أساس جملة مشتريات حاملي بطاقة (اكتساب) من شركاء النجاح
                    </li>
                    <li><i class="fa fa-square"></i> تكوين قاعدة بيانات ضخمة يستفيد منها شركاء النجاح.</li>
                    <li><i class="fa fa-square"></i>منح المكافآت والتخفيضات لحاملي بطاقة (اكتساب).</li>

                    <li><i class="fa fa-square"></i>المحافظة على العملاء الحاليين، واستقطاب شركاء نجاح جدد مع (اكتساب). </li>
                </ul>

            </div>







            <div class="claerfix"></div>
        </div>
        <div class="youtube-main-wrapper col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
            <div class="youtube-wrapper">
                <iframe frameborder="0" style="float:right;" src="https://www.youtube.com/embed/M10nYXBaIWU" allowfullscreen="" class="youtube-container"></iframe>
            </div>
            <div class="youtube-wrapper">
                <iframe frameborder="0" style="float:right;" src="https://www.youtube.com/embed/vqXtMsfcQk0" allowfullscreen="" class="youtube-container"></iframe>
            </div>
            <div class="youtube-wrapper">
                <iframe frameborder="0" style="float:right;" src="https://www.youtube.com/embed/f4sdKEcl20w" allowfullscreen="" class="youtube-container"></iframe>
            </div>


        </div>



        <div class="claerfix"></div>
    </div>
    <div class="claerfix"></div>
</section>
<section class="container complient-wrapper">
    <div class="row">
        <div class="complient-wshariah-wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
            <div class="title-contents">ثالثاً: طريقة عمل (اكتساب):</div>
            <div class="contents-cms">حيث إن بطاقة (اكتساب) ظهرت لتبقى بإذن الله، فقد كان شعارها البساطة، والسهولة في التعامل، لإرضاء العملاء وخدمتهم.</div>

            <div class="title-contents">المميزات التقنية:</div>
            <div class="contents-cms ">
                لقد تم إعداد آلية تشغيل حديثة ومنظمة لبرنامج بطاقة (اكتساب)، بحيث توفر:
            </div>
            <div class="complient-list">
                <ul>
                    <li><i class="fa fa-square"></i>
                        جميع ما يرغب العميل معرفته عن طريق البريد الإلكتروني من :
                        <ul>
                            <li>- عمليات الشراء، والرصيد المكتسب. </li>
                            <li>- معرفة القيّم للاستفادة من الارصدة .</li>
                        </ul>
                    </li>
                    <li><i class="fa fa-square"></i>
                        مراسلة أعضاء (اكتساب) والإجابة عن جميع استفسارهم واقتراحاتهم عبر البريد الإلكتروني والقنوات المتاحة. </li>
                    <li><i class="fa fa-square"></i>إمكانية تقديم وتفعيل الجوانب التسويقية لشركاء النجاح عبر الموقع الإلكتروني لبطاقة (اكتساب) .</li>

                    <li><i class="fa fa-square"></i> استخدام خدمة &ndash; الاستعلام الذاتي (نظام الرد التفاعلي). </li>
                </ul>

            </div>

            <div class="title-contents">الحمد لله والصلاة والسلام على رسول الله ، أما بعد</div>
            <div class="contents-cms ">


                فالبطاقة بالوصف المذكور في السؤال جائزة ، إذ لا يترتب على استخدامها محظور شرعي ، وما كان كذلك فيبقى على الأصل وهو الحل لقوله تعالى : " وأحل الله البيع ".

                ومع أن البطاقة لا تخلو من شيء من الجهالة والغرر لأن مصدر البطاقة وشركاء النجاح لا يعلمون تحديداً عند إصدار البطاقة للعميل مقدار الخصم والحوافز التي سيقدمونها له ، إلا أن هذا الغرر مغتفر ولا يؤثر في صحة العقد ، لأمرين :

                الأول : أنه لا يترتب على إصدار البطاقة والتعامل بها ضرر على أي من الأطراف الثلاثة (المصدر وشركاء النجاح والعميل حامل البطاقة) ، بل كلما زاد استخدام العميل للبطاقة كلما زادت الفوائد المكتسبة لهم جميعاً ، وهذا بخلاف عقود الغرر المحرمة التي يلزم من ربح أحد الطرفين فيها خسارة الآخر ، وبمقار ما يكون ربح الأول تكون خسارة الثاني.

                وقد نص أهل العلم على أن الغرر المحرم في العقود ما ترتب عليه ضرر بأحد الطرفين ، قال شيخ الإسلام ابن تيمية : " إنما نهى عن بيع الغرر لما فيه من المخاطرة التي تضر بأحدهما".اهـ. فإذا انتفى الضرر عنهما جميعاً فالعقد جائز.

                والثاني: أن البطاقة تصدر مجاناً بلا عوض ، والغرر المحرم ما كان في عقد معاوضة لأنه الذي ورد النص فيه.

                وبهذا يتبين أن شرط جواز هذه البطاقة ألا يكون الدخول في برنامج اكتساب مشروطاً بأجور يدفعها العميل حامل البطاقة سواء كانت تلك الرسوم عند الإصدار أو أدرجت ضمناً في أسعار السلع والخدمات .
            </div>

            <div class="title-contents">وبالنسبة للأجور التي يدفعها شركاء النجاح للمصدر ففيها تفصيل</div>
            <div class="contents-cms ">


                1- فإن كانت أجوراً نشبية مرتبطة بالصفقات التي تتم عن طريقه ، مثل أن يتحمل 2% من مجموع رصيد العميل أو مشترياته منه ، فهذه جائزة ، لأنها أجرة التسويق ، وهي نوع من السمسرة وقد نص الفقهاء على جوازها ولو كانت بنسبة من الثمن . قال التسولي:" ومن هذا &ndash; أي مما يعفى فيه عن تسمية الأجر في الإجارة-: اعمل على دابتي فماحصل فلك نصفه.. وعلى ذلك تخرج أجرة الدلال بربع عشر الثمن مثلاً . البهجة شرح التحفة 2/299 وقال ابن قدامة : ( ويجوز أن يستأجر سمساراً .. فإن عين العمـل دون الزمان فجعل له من كل ألف درهم شيئاً معلوماً صح أيضاً ). المغني 8/42.
                <br>

                2- وإن كانت مبالغ مقطوعة يدفعها الشريك للمصدر سنوياً أو شهرياً ونحو ذلك ، فهذه لا تجوز إلا إذا كانت لعمل ٍ منضبط معلوم ، مثل أن يتحمل جزءاً من المصاريف الإدارية لتسويق البطاقة كالدعايات والإعلانات التجارية ، فتجوز في هذه الحال بشرط أن تكون بقدر التكاليف الفعلية لذلك العمل ، أما إذا روعي في حساب تلك الرسوم أن تغطي قيمة الجوائز والحوافز المقدمة للعملاء فإنها حينئذٍ محرمة ، لما فيها من الغرر.وليس من هذا النوع ما إذا أخذ المصدر من الشريك رهناً للتأمين على الجهاز الإلكتروني الخاص بجمع النقاط بشرط رد الرهن كاملاً في حال إعادته سليماً وصالحاً للاستعمال . والله أعلم وصلى الله وسلم على نبينا محمد. <br><br>
                المصدر:
                <a href="http://www.shubily.com/index.php?news=66">                        http://www.shubily.com/index.php?news=66
                </a>

            </div>
            <div class="title-contents">ما حكم الاكتتاب في شركة العثيم؟:</div>
            <div class="title-contents">لمجيب : الشيخ : د. محمد بن سعود العصيمي </div>
            <div class="contents-cms ">
                الحمد لله والصلاة والسلام على رسول الله وعلى آله وصحبه ومن والاه، وبعد:
                <br><br>
                فقد اطَّلعتُ على تقرير مفصَّل وشامل مقدَّم من مركز الأوائل للاستشارات الاقتصادية عن شركة عبد الله صالح العثيم، وشملت الدراسة نشرة الإصدار والنظام الأساس للشركة، وعقد التأسيس، وعقود التمويل، واتفاقيات التسهيلات البنكية، وعقود التوريد، وعقد بطاقة اكتساب، وعقود التأمين، والقوائم المالية للشركة المنتهية في نهاية عام 2006م.

                ثم اطَّلعتُ على تقرير محدث عن وضع الشركة &ndash; كذلك - قبل نزولها للاكتتاب، وحيث إن التقريرين دلاَّ على أن أعمال الشركة مطابقة للضوابط الشرعية بفضل الله، وعليه فالاكتتاب فيها جائز.

                وإني أوصي نفسي والقائمين على هذه الشركة والشركات الأخرى بتقوى الله والانصياع لأوامره، والابتعاد عن نواهيه؛ فإن البركة والنماء والخير في الدنيا والآخرة في ذلك.

                والله أعلم، وصلى الله وسلم على رسول الهدى، وعلى آله وصحبه أجمعين. أسأل الله أن يرزقنا وإياكم الربح الحلال..  <br><br>
                المصدر: <a href="http: //www.saaid.net/fatwa/sahm/91.htm" target="_blank"> الحكم الشرعي &ndash; للشيخ د. محمد العصيمي .</a>

            </div>
        </div>
    </div>

</section>