<section class="container aboutus-wrapper">
    <div class="services-list-wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12 ">

        <div class="title-contents-top">عميلنا العزيز</div>
        <div class="contents-cms">
            نرحب بك عضواً جديداً معنا في اكتساب، يمكنك الحصول على البطاقة مجاناً وبكل سهولة من خلال الكاشير عند زيارتك لأحد فروع أسواق عبد الله العثيم حيث تمنحك بطاقة اكتساب فرصة الحصول على مبالغ نقدية تضاف على رصيد بطاقتك في كل مرة تتسوق بها من أسواق عبد الله العثيم أو المتاجر المشاركة، وتأكد من حمل بطاقة اكتساب دائماً أثناء تسوقك، وابدأ بجمع مبالغ نقدية تضاف إلى رصيد بطاقتك من العروض المتميزة واستمتع بالمفهوم الجديد للتسوق، سوف نضيف لرصيد بطاقتك من اكتساب مبلغ 2 ريال عن كل 100 ريال من مشترياتك من فروع التجزئة لدى أسواق عبد الله العثيم أو المتاجر المشاركة، وسوف نضيف 2 ريال عن كل 1000 ريال من مشترياتك من فروع الجملة لدى أسواق عبد الله العثيم أو متاجر الجملة المشاركة خاضعة للشروط والاحكام، وسوف تمنحك بطاقة اكتساب فرصة التمتع بخصومات نقدية مباشرة تضاف لرصيد بطاقتك وعروض وامتيازات خاصة، وبإمكانك اضافة الهلل المتبقي من فاتورة مشترياتك بحساب بطاقتك
        </div>
        <div class="claerfix"></div>

    </div>

    <div class="services-list-wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
        <div class="title-contents">آلية العروض وصرف الرصيد</div>
        <div class="contents-cms">
            عند زيارتك لفروع العثيم تابع بروشور اكتساب واللوحات الإرشادية التي توجهك لهذه الأصناف والتي عليها خصومات خاصة ومبالغ إضافية مضاعفة، علماً أنه بإمكانك صرف رصيدك من المبالغ النقدية المكتسبة من فاتورة مشترياتك أو من الخصومات النقدية المباشرة التي جمعتها من التسوق لدى فروع أسواق عبد الله العثيم أو المتاجر المشاركة بمشتريات حسب رغبتك بعد 48 ساعة من فاتورة الشراء، وذلك بمجرد إظهار بطاقة اكتساب أثناء تسوقك مرة أخرى لدى فروع أسواق عبد الله العثيم أو سفوري لاند أو المتاجر المشاركة
        </div>

        <div class="claerfix"></div>
    </div>

    <div class="services-list-wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
        <div class="title-contents">ملاحظات هامة</div>
        <div class="contents-cms">
            عزيزي العميل : تمت إضافة المبلغ النقدي المكتسب من أول عملية شرائية لرصيد بطاقتك، إلا ان البطاقة غير صالحة للاستخدام مرة أخرى إلا بعد تفعيلها عن طريق قنوات التفعيل المتاحة لاكتساب .
            عزيزي العميل : بعد تفعيل بطاقتك سيتم إرسال رقمك السري على هاتفك الجوال المسجل لدينا، ونأمل منك المحافظة على الرقم السري لأنه سيطلب منك في كل مرة تستخدم فيها البطاقة لصرف مكتسباتك النقدية.<br> عزيزي العميل : نفيدك بأن نظام اكتساب صمم لخدمتك وحماية مكتسباتك، لذا نرجو مراعاة أن إضافة الأرصدة النقدية أو صرفها يتطلب وجود البطاقة بحوزتك، لذا نرجو الحرص على اظهار البطاقة للكاشير قبل دفع قيمة فاتورة مشترياتك.
        </div>

        <div class="claerfix"></div>
    </div>

    <div class="claerfix"></div>
</section>