<section class="container aboutus-wrapper">
    <div class="services-list-wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
        <div class="title-contents">الشروط والاحكام</div>
        <div class="contents-cms requirement-wrapper">
            <ul class="list-unstyled">
                <li> حرصاً منا على خدمتك بشكل أفضل، نأمل منك صرف رصيدك من المبالغ النقدية المكتسبة في فترة لا تزيد عن 36 شهراً تبدأ من تاريخ العملية الشرائية. </li>
                <li> عدم استخدام البطاقة لمدة 3 أشهر متتالية تتحول حالة العميل إلى غير نشط و بمجرد شراءه يتم تحويل حالته إلى نشط بشكل آلي.</li>
                <li> بطاقة اكتساب هي بطاقة ولاء تستخدم للمشتريات العامة وتجميع الأرصدة النقدية وصرفها, بينما استخدامها للعروض الخاصة فقط يلغيها </li>
                <li>  	الأصناف التي عليها عروض خاصة او مخفضة تستثنى من فاتورة مشترياتك ولا يتم إضافة أرصدة نقدية لبطاقتك مقابل هذه المشتريات</li>
                <li> الأصناف المخفضة و الأجهزة الالكترونية تستثنى من نسبة الخصم الممنوح لصاحب البطاقة</li>
                <li>تحتفظ اكتساب بحقها في إلغاء الاشتراك أو إلغاء الرصيد بدون الرجوع للعميل</li>
                <li>استخدامك للبطاقة يدل على موافقتك على الشروط ويحق لـ اكتساب تعديل أو تغير هذه الشروط بدون الرجوع للعميل</li>
                <li> لا يحق للعميل إستخدام أكثر من بطاقة أو أي بطاقة غير مرتبطة ببياناته</li>
            </ul>
        </div>
        <div class="claerfix"></div>
    </div>
    <div class="claerfix"></div>
</section>