<section class="container whyus-wrapper">
    <div class="whyus-list-wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding-right">
        <div class="title-contents">الرؤية </div>
        <div class="contents-cms">            الريادة في تقديم أفضل خدمات التسوق للعميل من خلال إبراز المفهوم الحقيقي للولاء بين البرنامج وعملائه.        </div>
        <div class="claerfix"></div>
    </div>
    <div class="whyus-list-wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
        <div class="title-contents">الرسالة</div>
        <div class="contents-cms">            برنامج الولاء اكتساب هو برنامج يرتكز على العميل وعلاقته مع البرنامج وشركائه من المتاجر المشاركة، بحيث يستفيد العميل من الخصومات والعروض التي يقدمها الشركاء من خلال منظومة متكاملة من الخدمات التفاعلية بين الأطراف الثلاثة بالشكل الذي يليق بعميل البرنامج        </div>        <div class="claerfix"></div>
    </div>    <div class="whyus-list-wrapper col-lg-6 col-md-12 col-sm-12 col-xs-12  nopadding-right">
        <div class="title-contents">القيم </div>
        <div class="contents-cms">
            <p>                انطلاقاً من قيّم ديننا الحنيف وثقافتنا الغراء، نؤمن بالقيّم الآتية <br>
                1.	الاداء المتميز.<br>                2.	سعادتنا في خدمة عملائنا وارضائهم.<br>
                3.	العمل الجماعي.<br>                4.	الثقة .<br>
                5.	الإنجاز.<br>                6.	العدالة والنزاهة .<br>
                7.	الشفافية والمساءلة .</p>
        </div>
        <div class="title-contents">إجراءات التسجيل لتفعيل بطاقة اكتساب من خلال أحد الطرق التالية </div>
        <div class="contents-cms">
            <p>                1-	الاتصال بمركز التواصل خدمة العملاء  920000702<br>
                2-		التفعيل عن طريق الموقع الالكتروني لاكتساب <br>
                <a href="http://www.othaimmarkets.com/iktissab">http://www.othaimmarkets.com/iktissab </a>
                <br>                3-	عن طريق تطبيق اكتساب للأجهزة الذكية المتوفر بمتجر ابل استور والاندرويد<br>
                4-	جميع هذه الخدمات على مدار الساعة</p>        </div>
        <div class="title-contents">نصائح الاستفادة من بطاقة اكتساب </div>
        <div class="contents-cms">
            <ul>

                <li>أهمية إبراز البطاقة قبل إصدار الفاتورة   </li>
                <li>مراعاة أن إضافة الأرصدة النقدية أو الحصول على الخصومات أو صرف الأرصدة المكتسبة يتطلب وجود البطاقة بحوزتك . </li>
                <li>	استخدام البطاقة للاستفادة من اصناف العروض فقط يعرضها للإيقاف .</li>
            </ul>        </div>
        <div class="claerfix"></div>
    </div>
    <div class="whyus-list-wrapper col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
        <div class="title-contents">لماذا نحن </div>
        <div class="contents-cms">
            <P>هناك مجموعه كبيره ومتنوعه من المزايا تتشرف اسواق العثيم بتقديمها لعملاء اكتساب منها ما يلي </p>
            <p>1- الحصول على رصيد نقدي مقداره 2 ريال عن كل 100 ريال من المشتريات من فروع التجزئة لدى أسواق العثيم (باستثناء أصناف المهرجان المخصومة أصلاً) و مبلغ 2 ريال عن كل 1000 ريال من مشترياتك من فروع الجملة لدى أسواق العثيم خاضعة للشروط والأحكام .</p>            <p>2- فرصة الاستفاده من العروض الخاصه و الخصومات المتميزة لعملاء اكتساب والتي تصل إلى 50 % على العديد من الأصناف المعروضة في اسواق العثيم وتشمل :                • الهواتف الذكية</p>
            <ul>
                <li>الحاسبات الإلكترونية  </li>
                <li>الشاشات العريضة  </li>
                <li>المواد الغذائية</li>
                <li> المخابز  </li>
                <li> مستحضرات العناية الشخصية ومواد التجميل وغيرها من المنتجات المتميزه  </li>
                <li> الهواتف الذكية  </li>
            </ul>
            <p>3-  فرصة الاستفادة من العديد من العروض و الخصومات المقدمه من المتاجر المشاركة معنا الخاصة بعملاء اكتساب وتشمل مطاعم ومتاجرماركات تجارية عالمية وسفوري لاند (مدن ترفيهية للعائله) وغيرها .</p>
            <p>4-  فرصة الحصول على العروض الخاصه لأسواق العثيم مبكراً قبل العملاء خارج أكتساب عن طريق الايميل او الرسائل النصيه والإستفادة من هذه العروض قبل الغير</p>
            <p>5- فرصة الاستفاده من المهرجانات و الجوائز و المكافئات الخاصه بعملاء اكتساب</p>
        </div>
        <div class="claerfix"></div>
    </div>
    <div class="whyus-list-wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
        <div class="title-contents">قنوات تفعيل الخصم للفئات الخاصة </div>
        <div class="contents-cms">
            <ul>
                <li>عن طريق الفاكس : 0114937778 تحويله 2225   </li>
                <li> من خلال تطبيق اكتساب للأجهزة الذكية </li>
                <li>	زيارة أحد فروع أسواق العثيم لإرسالها عن طريقهم</li>
            </ul>
        </div>
        <div class="claerfix"></div>
    </div>
    <div class="claerfix"></div></section>