<table align="center" bgcolor="#f6f6f6" border="0" cellpadding="0" cellspacing="0" class="tableContent" width="100%">
    <tr>
        <td>
            {% block emailbody %}{% endblock %}
        </td>
    </tr>
</table>

<!--Default Zone End--></body>
