
<body class="bgBody" leftpadding="0" offset="0" paddingheight="0" paddingwidth="0" style="padding-top: 0 !important;padding-bottom: 0 !important;background-repeat: repeat;width: 100% !important;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;-webkit-font-smoothing: antialiased;background: #F6F6F6;margin: 0 !important;" toppadding="0"  dir="rtl">
<table align="center" bgcolor="#f6f6f6" border="0" cellpadding="0" cellspacing="0" class="tableContent" width="100%">
    <tbody>
    <tr>
        <td>
            <table align="center" bgcolor="#f6f6f6" border="0" cellspacing="0" style="font-family:helvetica, sans-serif;" width="800" class="MainContainer">
                <tbody>
                <tr>
                    <td>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                            <tr>
                                <td valign="top" width="20">&nbsp;</td>
                                <td valign="top">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">

                                        <!--  =========================== The header ===========================  -->
                                        <tbody>
                                        <tr>
                                            <!--  =========================== The body ===========================  -->
                                            <td class="movableContentContainer">
                                                <div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                        <tr>
                                                            <td height="25">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                    <tbody>
                                                                    <tr>
                                                                        <td align="right" valign="middle">
                                                                            <div class="contentEditableContainer contentImageEditable">
                                                                                <div class="contentEditable">
                                                                                    <img alt="ٓLogo" data-default="placeholder" src="{{ absolute_url(asset('front/images/logo2.png'))  }}" style="border: 0 !important;display: block !important;outline: none !important;"></div>
                                                                            </div>
                                                                        </td>


                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>


                                                <div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                        <tbody>
                                                        <tr>
                                                            <td height="25">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <table align="center" class="bgItem" border="0" cellpadding="0" cellspacing="0" style="border: 1px solid #dddddd;background: #ffffff;" valign="top" width="100%">
                                                                    <tbody>
                                                                    <tr>
                                                                        <td colspan="3" height="16">
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td width="16">
                                                                        </td>
                                                                        <td>
                                                                            {% block emailbody %}{% endblock %}
                                                                        </td>
                                                                        <td width="16">
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td colspan="3" height="16">
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>





                                                <div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
                                                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                        <tr>
                                                            <td height="28">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="center" valign="top">
                                                                <div class="contentEditableContainer contentTextEditable">
                                                                </div>
                                                                <div class="contentEditableContainer contentTextEditable">
                                                                    <div class="contentEditable">
                                                                        <p style="color: #A8B0B6;font-size: 19px;line-height: 15px;margin: 0;">
                                                                            {{ 'Abdullah Al Othaim Markets Company, Riyadh'|trans }}
                                                                        </p>
                                                                    </div>
                                                                </div>


                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>

                                                        <tr>
                                                            <td height="28"></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>

                                                </div>

                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td valign="top" width="20">&nbsp;</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>


<!--Default Zone End--></body>
